
{% extends "email_layout.html" %}
{% block body %}
<p>Dear {{ customer.full_name|default:email }},</p>
<p>
  Automatic payment of your Krita Development Fund membership ({{ order.price.with_currency_symbol }})
  was succesful. Thank you for your contribution!
  
</p>
<p>You will find the online receipt at <a href="{{ receipt_url }}">{{ receipt_url }}</a></p>{% endblock %}
