{% extends "email_layout.html" %}
{% block body %}
<p>Dear {{ customer.full_name|default:user.email }},</p>
<p>Your Krita Fund membership was deactivated.</p>
<p>You can always go to <a href="{{ link }}">{{ link }}</a> and reactivate your membership.</p>{% endblock %}
