{% if 'authentication' in failure_message|lower or failure_message == 'Declined' %}
<p style="font-weight: bold">
If you are encountering renewal issues with your previously working credit card,</br>
please refer to this page: <a href="https://fund.krita.org/strong-customer-authentication/">https://fund.krita.org/strong-customer-authentication/</a>
</p>
{% endif %}
