<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="footer-graphic" viewBox="0 0 210 25">
  <defs id="defs2">
    <linearGradient id="linearGradientMain" x1="0" x2="0" y1="0" y2="1">
      <stop offset="30%"/>
      <stop offset="80%"/>
      <stop offset="100%"/>
    </linearGradient>
    <linearGradient id="linearGradientAlternate" x1="0" x2="0" y1="0" y2="1">
      <stop offset="50%"/>
      <stop offset="80%"/>
      <stop offset="90%"/>
    </linearGradient>
  </defs>
  <rect id="base-rectangle" x="0" y="15" width="210" height="10"/>
  <g id="footer-shape-one">
    <path transform="translate(0,-275)" style="fill:url(#linearGradientMain);fill-opacity:1;stroke:none" d="M0 3e2H210v-14s-27-9-56-9c-28 0-76 9-104 8-24 0-48-3-50-3z"/>
  </g>
  <g id="footer-shape-two">
    <path transform="translate(0,-275)" style="fill:url(#linearGradientAlternate);fill-opacity:1;stroke:none" d="M0 3e2H210v-14s-27-9-56-9c-28 0-76 9-104 8-24 0-48-3-50-3z"/>
  </g>
</svg>
<footer>
  <div class="container-padding">
    <div class="row">
      <div class="col-md-3 footer-section">
        <h3>Software</h3>
        <a href="https://krita.org/en/report-a-bug">Report a bug</a>
        <a href="https://krita.org/en/roadmap">Roadmap</a>
        <a href="https://krita.org/en/release-history">Release History</a>
        <a href="https://invent.kde.org/graphics/krita" target="_blank">Source Code<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 32 32" class="external-link-icon" aria-label="External Link"><path d="M25.152 16.576v5.696q0 2.144-1.504 3.648T20 27.424H5.152q-2.144.0-3.648-1.504T0 22.272V7.424q0-2.112 1.504-3.616t3.648-1.536h12.576q.224.0.384.16t.16.416V4q0 .256-.16.416t-.384.16H5.152q-1.184.0-2.016.832t-.864 2.016v14.848q0 1.184.864 2.016t2.016.864H20q1.184.0 2.016-.864t.832-2.016v-5.696q0-.256.16-.416t.416-.16h1.152q.256.0.416.16t.16.416zM32 1.152v9.12q0 .48-.352.8t-.8.352-.8-.352l-3.136-3.136-11.648 11.648q-.16.192-.416.192t-.384-.192l-2.048-2.048q-.192-.16-.192-.384t.192-.416L24.064 5.088l-3.136-3.136q-.352-.352-.352-.8t.352-.8.8-.352h9.12q.48.0.8.352t.352.8z"/></svg></a>
        <a href="/eu/sitemap.xml">Sitemap</a>
      </div>
      <div class="col-md-3 footer-section">
        <h3>Education</h3>
        <a href="https://docs.krita.org/">Documentation</a>
        <a href="https://docs.krita.org/KritaFAQ.html">FAQ</a>
        <a href="https://krita.org/en/privacy-statement">Privacy Statement</a>
        <a href="https://docs.krita.org/tutorials.html" target="_blank">Tutorials<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 32 32" class="external-link-icon" aria-label="External Link"><path d="M25.152 16.576v5.696q0 2.144-1.504 3.648T20 27.424H5.152q-2.144.0-3.648-1.504T0 22.272V7.424q0-2.112 1.504-3.616t3.648-1.536h12.576q.224.0.384.16t.16.416V4q0 .256-.16.416t-.384.16H5.152q-1.184.0-2.016.832t-.864 2.016v14.848q0 1.184.864 2.016t2.016.864H20q1.184.0 2.016-.864t.832-2.016v-5.696q0-.256.16-.416t.416-.16h1.152q.256.0.416.16t.16.416zM32 1.152v9.12q0 .48-.352.8t-.8.352-.8-.352l-3.136-3.136-11.648 11.648q-.16.192-.416.192t-.384-.192l-2.048-2.048q-.192-.16-.192-.384t.192-.416L24.064 5.088l-3.136-3.136q-.352-.352-.352-.8t.352-.8.8-.352h9.12q.48.0.8.352t.352.8z"/></svg></a>
      </div>
      <div class="col-md-4 footer-section">
        <h3>Foundation</h3>
        <a href="https://krita.org/en/about/history">About</a>
        <a href="https://krita.org/en/donations">Donations</a>
        <a href="https://krita.org/en/get-involved">Get Involved</a>
        <a href="https://userbase.kde.org/Special:MyLanguage/What_is_KDE/" target="_blank">What is KDE<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10" height="10" viewBox="0 0 32 32" class="external-link-icon" aria-label="External Link"><path d="M25.152 16.576v5.696q0 2.144-1.504 3.648T20 27.424H5.152q-2.144.0-3.648-1.504T0 22.272V7.424q0-2.112 1.504-3.616t3.648-1.536h12.576q.224.0.384.16t.16.416V4q0 .256-.16.416t-.384.16H5.152q-1.184.0-2.016.832t-.864 2.016v14.848q0 1.184.864 2.016t2.016.864H20q1.184.0 2.016-.864t.832-2.016v-5.696q0-.256.16-.416t.416-.16h1.152q.256.0.416.16t.16.416zM32 1.152v9.12q0 .48-.352.8t-.8.352-.8-.352l-3.136-3.136-11.648 11.648q-.16.192-.416.192t-.384-.192l-2.048-2.048q-.192-.16-.192-.384t.192-.416L24.064 5.088l-3.136-3.136q-.352-.352-.352-.8t.352-.8.8-.352h9.12q.48.0.8.352t.352.8z"/></svg></a>
        <a href="https://krita.org/en/website">Website license</a>
        <a href="https://krita.org/en/contact">Contact</a>
      </div>
      <div class="col-md-2">
        <div class="social-media" style="margin-top:2rem">
          <span class="grow-container">
            <a href="https://www.youtube.com/c/KritaOrgPainting" target="_blank" class="circle-button">
              <img src="https://krita.org/images/social-media/social-youtube.png"/>
            </a>
          </span>
          <span class="grow-container">
            <a href="https://twitter.com/Krita_Painting" target="_blank" class="circle-button">
              <img src="https://krita.org/images/social-media/social-twitter.png"/>
            </a>
          </span>
          <span class="grow-container">
            <a href="https://www.instagram.com/krita_foundation/" target="_blank" class="circle-button">
              <img src="https://krita.org/images/social-media/social-instagram.png"/>
            </a>
          </span>
          <span class="grow-container">
            <a href="https://www.reddit.com/r/krita/" target="_blank" class="circle-button">
              <img src="https://krita.org/images/social-media/social-reddit.png"/>
            </a>
          </span>
          <span class="grow-container">
            <a href="https://krita-free-art-app.deviantart.com/" target="_blank" class="circle-button">
              <img src="https://krita.org/images/social-media/social-deviantart.png"/>
            </a>
          </span>
          <span class="grow-container">
            <a href="https://mastodon.art/@krita" target="_blank" class="circle-button">
              <img src="https://krita.org/images/social-media/social-mastodon.png"/>
            </a>
          </span>
          <span class="grow-container">
            <a href="https://vk.com/ilovefreeart" target="_blank" class="circle-button">
              <img src="https://krita.org/images/social-media/social-vk.png"/>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
