.goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goal > div {
  padding: 20px;
}
.goal > div:first-child {
  flex-basis: 75%;
}

.goal > div:last-child {
  flex-basis: 25%;
}

@media (min-width: 700px) {
  .goal {
    flex-direction: row;
  }
}
.goal:nth-child(2n + 1) > div:first-child {
  order: 1;
}
.goal:nth-child(2n + 1) > div:last-child {
  order: 0;
}
.stats-container {
 display: flex;
 position:relative;
 z-index:10
}
.stats-content {
 flex-direction:column;
 display: flex
}
@media (min-width: 888px) {
 .stats-content {
  flex-direction:row
 }
}
@media (min-width: 1024px) {
 .stats-container,
 .stats-items {
  flex-direction:row;
  padding-top:5rem
 }
}
.stats-items {
 align-items:flex-end;
 flex-direction:column;
 position:relative;
 padding-top:5rem
}
@media (min-width: 1024px) {
 .stats-items {
  top:-12.8rem;
  margin-bottom:-12.8rem
 }
}
.stats-item {
 color:#f8f9fa;
 background-color:rgba(16,218,168,0.8);
 position:relative;
 width: 16rem;
 height: 16rem;
 justify-content: center;
 border-radius: 8rem;
}
.stats-item.stats-pos-top {
 /*left:50px*/
}
@media (min-width: 888px) {
 .stats-item.stats-pos-top {
  left:unset
 }
}
.stats-item.stats-pos-middle {
 background-color:rgba(16,218,201,0.8);
 margin-top:7rem;
 right:40%
}
@media (min-width: 888px) {
 .stats-item.stats-pos-middle {
  margin-top:1rem;
  right:12.41441rem
 }
}
.stats-item.stats-pos-middle:before {
 border-bottom-color:rgba(16,218,201,0.8)
}
.stats-item.stats-pos-middle:after {
 border-top-color:rgba(16,218,201,0.8)
}
.stats-item.stats-pos-bottom {
 background-color:rgba(16,201,218,0.8);
 top:-12px
}
@media (min-width: 888px) {
 .stats-item.stats-pos-bottom {
  left:unset
 }
}
.stats-item.stats-pos-bottom:before {
 border-bottom-color:rgba(16,201,218,0.8)
}
.stats-item.stats-pos-bottom:after {
 border-top-color:rgba(16,201,218,0.8)
}
.stats-item.stats-size-small {
 width:10.66667rem;
 height:10.66667rem;
 border-radius: 5.33rem;
}
.stats-item.stats-size-small:before,
.stats-item.stats-size-small:after {
 border-left-width:5.33333rem;
 border-right-width:5.33333rem
}
.stats-item.stats-size-small:before {
 border-bottom-width:2.66667rem
}
.stats-item.stats-size-small:after {
 border-top-width:2.66667rem
}
.stats-item.stats-size-small .stats-sum,
.stats-item.stats-size-small .stats-sum-name {
 -webkit-transform:unset;
 -ms-transform:unset;
 transform:unset
}
.stats-item.stats-pos-bottom {
 right:2.66667rem
}
.stats-item .stats-sum,
.stats-item .stats-sum-name {
 -webkit-transform:scale(1.1);
 -ms-transform:scale(1.1);
 transform:scale(1.1)
}
.stats-item .currency-symbol {
 font-size:50%
}
.stats-sum-name {
 opacity:.8
}
.stats-intro {
 padding-top:5rem;
 margin-right:auto;
}
.stats-intro .stats-intro-container {
 background-color: #fff;
 padding: 2em;
}
@media (min-width: 1024px) {
 .stats-intro {
  padding-right:8rem
 }
}
.stats-intro a {
 text-decoration:underline
}
.stats-lead {
 font-size:1.3em;
 text-align:center
}
@media (min-width: 1024px) {
 .stats-lead {
  font-size:1.6em;
  text-align:left
 }
}
@media (min-width: 1024px) {
 .stats-progress {
  padding-right:2rem
 }
}
.d-flex, .progress-container, .stats-content, .stats-container, .stats-items, .stats-item, .stats-sum {
  display: flex;
}
.stats-content {
 width:100%;
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto
}
@media (min-width: 666px) {
 .stats-content {
  max-width:820px
 }
}
@media (min-width: 888px) {
 .stats-content {
  max-width:940px
 }
}
@media (min-width: 1024px) {
 .stats-content {
  max-width:1080px
 }
}
@media (min-width: 1200px) {
 .stats-content {
  max-width:1140px
 }
}
.bg-corporate {
 background-color:#09a2b9
}
.bg-individual {
 background-color:#0bccea
}
.progress-legend {
 width:10px;
 height:10px;
 margin: 0 10px;
}
.rounded-circle,
.whoosh,
.progress-bar-target-met {
 border-radius:50% !important
}

.align-items-center {
  align-items: center !important;
}

.flex-column {
 -webkit-box-orient:vertical !important;
 -webkit-box-direction:normal !important;
 -ms-flex-direction:column !important;
 flex-direction:column !important
}

.flex-fill {
 -webkit-box-flex:1 !important;
 -ms-flex:1 1 auto !important;
 flex:1 1 auto !important
}
.flex-grow-0 {
 -webkit-box-flex:0 !important;
 -ms-flex-positive:0 !important;
 flex-grow:0 !important
}
.flex-grow-1 {
 -webkit-box-flex:1 !important;
 -ms-flex-positive:1 !important;
 flex-grow:1 !important
}
.flex-shrink-0 {
 -ms-flex-negative:0 !important;
 flex-shrink:0 !important
}
.flex-shrink-1 {
 -ms-flex-negative:1 !important;
 flex-shrink:1 !important
}
.justify-content-start {
 -webkit-box-pack:start !important;
 -ms-flex-pack:start !important;
 justify-content:flex-start !important
}
.justify-content-end {
 -webkit-box-pack:end !important;
 -ms-flex-pack:end !important;
 justify-content:flex-end !important
}

.justify-content-center,
.stats-container,
.stats-items,
.stats-sum {
 -webkit-box-pack:center !important;
 -ms-flex-pack:center !important;
 justify-content:center !important
}

.text-center,
.stats-container,
.stats-items {
 text-align:center !important
}
.stats-item h5 {
  font-size: 1.3rem;
}
.stats-item .stats-sum {
  font-size: 1.5rem;
}

.l-table {
 -webkit-box-shadow:rgba(0,0,0,0.05) 0px 1px 4px 0px,rgba(0,0,0,0.025) 0px 15px 20px -1px;
 box-shadow:rgba(0,0,0,0.05) 0px 1px 4px 0px,rgba(0,0,0,0.025) 0px 15px 20px -1px;
 background-color:#fff;
 border-radius:.3rem;
 color:#4d4e53;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 max-width:840px
}
.l-table li:last-child a {
 border:none
}
.l-table-row {
  position: relative;
}
.l-table-row,
.l-table-header {
 -webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.33);
 box-shadow:inset 0 0 1px rgba(0,0,0,0.33);
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.l-table-row:hover,
.l-table-header:hover {
 background-color:rgba(235,235,235,0.1);
 text-decoration:none
}
.l-table-row.is-own,
.l-table-row.is-selected,
.l-table-row.is-corporate,
.l-table-header.is-own,
.l-table-header.is-selected,
.l-table-header.is-corporate {
 -webkit-box-shadow:none;
 box-shadow:none
}
.l-table-row.is-own,
.l-table-header.is-own {
 background-color:#62eac8;
 background-image:-o-linear-gradient(77deg, #10d5a4, #8ff0d7);
 background-image:linear-gradient(13deg, #10d5a4, #8ff0d7);
 color:#fff
}
.l-table-row.is-own .m-price,
.l-table-header.is-own .m-price {
 color:#fff
}
.l-table-row.is-own svg,
.l-table-header.is-own svg {
 fill:#fff
}
.l-table-row.is-own:after,
.l-table-header.is-own:after {
 background-color:#1ccea2;
 border-radius:3px;
 color:white;
 content:'POPULAR';
 font-size:.6em;
 font-weight:bold;
 padding:3px 10px 2px;
 position:absolute;
 left:-5px;
 top:-5px;
 background-color:#fff;
 color:#1cca9e;
 content:'YOU HAVE THIS'
}
.l-table-row.is-selected,
.l-table-header.is-selected {
 background-color:white;
 -webkit-box-shadow:0 0 25px rgba(0,0,0,0.2);
 box-shadow:0 0 25px rgba(0,0,0,0.2);
 border-radius:12px;
 -webkit-transform:scale(1.02);
 -ms-transform:scale(1.02);
 transform:scale(1.02);
 z-index:1
}
.l-table-row.is-selected .detail-badge,
.l-table-header.is-selected .detail-badge {
 opacity:1
}
.l-table-row.is-popular,
.l-table-header.is-popular {
 background-color:rgba(128,223,255,0.1);
 -webkit-box-shadow:inset 0 0 1px #80dfff;
 box-shadow:inset 0 0 1px #80dfff
}
.l-table-row.is-popular:after,
.l-table-header.is-popular:after {
 background-color:#1ccea2;
 border-radius:3px;
 color:white;
 content:'POPULAR';
 font-size:.6em;
 font-weight:bold;
 padding:3px 10px 2px;
 position:absolute;
 left:-5px;
 top:-5px
}
.l-table-row.is-corporate,
.l-table-header.is-corporate {
 background-color:#343a40;
 border-bottom-left-radius:6px;
 border-bottom-right-radius:6px;
 color:#f8f9fa
}
.l-table-header {
 color:rgba(77,78,83,0.8);
 background-color:#f8f8f8;
 border-top-left-radius:6px;
 border-top-right-radius:6px;
 font-size:.7875rem
}
.l-table-header .l-table-cell:first-child {
 -webkit-box-pack:start;
 -ms-flex-pack:start;
 justify-content:start
}
.l-table-cell {
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 padding:.5rem .5rem;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 white-space:nowrap
}
@media (min-width: 1024px) {
 .l-table-cell {
  padding:1rem 2rem
 }
}
.l-table-cell.m-level {
 -webkit-box-align:start;
 -ms-flex-align:start;
 align-items:start;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 text-align:left;
 min-width:125px
}
@media (min-width: 1024px) {
 .l-table-cell.m-level {
  min-width:150px
 }
}
.l-table-cell[data-toggle="popover"] {
 cursor:pointer
}
.l-table-cell i {
 color:rgba(77,78,83,0.5);
 padding-left:.33333rem
}
.l-table-cell>span {
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.l-table-cell>span .l-name {
 display:none
}
@media (min-width: 1024px) {
 .l-table-cell>span .l-name {
  display:block
 }
}
.l-table {
  list-style: none;
}
.form > li.field-extended_address {
  display: none !important;
}
.form .field-half_size, .form > li.field-region, .form > li.field-locality, .form > li.field-country, .form > li.field-postal_code {
  float: left;
  width: 50%;
}

.form > li.field-postal_code {
  width: 30%;
}

.form > li.field-locality {
  width: 70%;
}
.form .field-half_size, .form > li.field-region, .form > li.field-locality, .form > li.field-country, .form > li.field-postal_code {
  float: left;
  width: 50%;
}
.form > li.field-country, .form > li.field-postal_code {
  padding-left: 1rem !important;
}

.form > li.field-gateway_pk, .form > li.field-gateway {
  clear: both;
}

li.field-region.show, li.field-locality.show, li.field-company.show, li.field-country.show, li.field-postal_code.show, li.field-billing_email.show, li.field-street_address.show, .form > li {
  display: flex !important;
}

li.field-region, li.field-locality, li.field-company, li.field-country, li.field-postal_code, li.field-region, li.field-billing_email, li.field-street_address {
  display: none !important;
}

.form > li {
  flex-direction: column !important;
  padding-bottom: 1rem !important;
}

.form > li .field-more-fields.active {
  color: rgb(0, 164, 235) !important;
}
.form > li .field-more-fields {
  cursor: pointer;
  padding-top: .5rem !important;
  text-align: right !important;
}

label {
  font-weight: normal;
  font-variation-settings: "wght" 600;
}

label {
  display: inline-block;
  margin-bottom: .25rem;
}

form textarea, .form input[type="text"], .form input[type="email"], .form input[type="url"] {
  border: 2px solid rgb(227, 227, 227);
  border-radius: .33rem;
  padding: .5rem;
  transition: border-color ease-in-out 150ms;
}

ul#id_gateway {
  padding-left: 0;
  list-style: none;
}
ul#id_gateway > li {
  margin-bottom: 1.5rem !important;
}

ul#id_gateway > li > label {
  margin-right: .5rem !important;
}

.checkout-yay .plan {
 -webkit-animation:pulse-size 2s ease-in-out infinite alternate;
 animation:pulse-size 2s ease-in-out infinite alternate;
 display:inline-block;
 position:relative;
 z-index:1
}
.checkout-yay .plan span {
 background-color:white;
 border-radius:10px;
 -webkit-box-shadow:0 0 50px white, 0 0 150px white;
 box-shadow:0 0 50px white, 0 0 150px white;
 display:inline-block;
 font-weight:bold;
 text-transform:uppercase
}
canvas.fireworks {
 bottom:0;
 position:fixed;
 top:0;
 left:0;
 right:0;
 width:100vw;
 height:100vh;
 max-width:100vw;
 max-height:100vh;
 z-index:0
}
@-webkit-keyframes pulse-size {
 from {
  -webkit-transform:scale(1);
  transform:scale(1)
 }
 to {
  -webkit-transform:scale(1.1);
  transform:scale(1.1)
 }
}
@keyframes pulse-size {
 from {
  -webkit-transform:scale(1);
  transform:scale(1)
 }
 to {
  -webkit-transform:scale(1.1);
  transform:scale(1.1)
 }
}
.checkout-yay-bg {
 background-image:-webkit-gradient(linear, left bottom, left top, from(#234), to(#012));
 background-image:-o-linear-gradient(bottom, #234, #012);
 background-image:linear-gradient(to top, #234, #012);
 color:white;
 overflow:hidden
}
.checkout-yay-bg .thanks {
 display:-webkit-inline-box;
 display:-ms-inline-flexbox;
 display:inline-flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center
}
.checkout-yay-bg .thanks i {
 font-size:.8em
}
.background .stars {
 background:transparent;
 border-radius:50%;
 overflow:hidden;
 opacity:.5
}
.background .stars:after {
 content:" ";
 position:absolute;
 top:2000px;
 background:transparent
}
.background .stars.small {
 width:2px;
 height:2px;
 -webkit-box-shadow:360px 940px #FFF , 1429px 497px #FFF , 1964px 1447px #FFF , 648px 1754px #FFF , 1612px 1105px #FFF , 93px 529px #FFF , 1673px 674px #FFF , 1501px 1778px #FFF , 1975px 1410px #FFF , 582px 1762px #FFF , 909px 1108px #FFF , 1566px 471px #FFF , 849px 83px #FFF , 1786px 935px #FFF , 105px 1321px #FFF , 122px 1118px #FFF , 445px 1809px #FFF , 435px 543px #FFF , 518px 495px #FFF , 336px 1800px #FFF , 934px 1819px #FFF , 1176px 1910px #FFF , 1142px 1026px #FFF , 513px 1443px #FFF , 1187px 732px #FFF , 1551px 145px #FFF , 1242px 1112px #FFF , 1611px 786px #FFF , 135px 1054px #FFF , 1418px 1335px #FFF , 75px 944px #FFF , 701px 1198px #FFF , 821px 1386px #FFF , 682px 1010px #FFF , 511px 1266px #FFF , 337px 852px #FFF , 1202px 1706px #FFF , 755px 1841px #FFF , 1772px 230px #FFF , 1754px 97px #FFF , 435px 199px #FFF , 1333px 134px #FFF , 977px 194px #FFF , 669px 921px #FFF , 1639px 360px #FFF , 678px 1838px #FFF , 860px 812px #FFF , 1271px 342px #FFF , 1018px 692px #FFF , 1017px 498px #FFF , 1986px 1982px #FFF , 1189px 1202px #FFF , 366px 1699px #FFF , 821px 1963px #FFF , 516px 783px #FFF , 1545px 732px #FFF , 1114px 1076px #FFF , 543px 973px #FFF , 1169px 653px #FFF , 99px 1180px #FFF , 1383px 1000px #FFF , 1653px 724px #FFF , 1948px 1911px #FFF , 1402px 525px #FFF , 1080px 1283px #FFF , 50px 101px #FFF , 329px 228px #FFF , 700px 694px #FFF , 390px 704px #FFF , 167px 1163px #FFF , 262px 1696px #FFF , 1888px 31px #FFF , 460px 1123px #FFF , 1764px 1839px #FFF , 31px 320px #FFF , 1513px 598px #FFF , 1922px 8px #FFF , 290px 711px #FFF , 787px 1136px #FFF , 1485px 1119px #FFF , 905px 93px #FFF , 276px 418px #FFF , 105px 18px #FFF , 1760px 1809px #FFF , 1393px 1468px #FFF , 145px 1360px #FFF , 1039px 633px #FFF , 1203px 1865px #FFF , 237px 300px #FFF , 1050px 1969px #FFF , 1011px 399px #FFF , 1235px 1940px #FFF , 1897px 1757px #FFF , 158px 336px #FFF , 1875px 339px #FFF , 1038px 877px #FFF , 440px 801px #FFF , 1433px 576px #FFF , 44px 200px #FFF , 834px 590px #FFF , 738px 244px #FFF , 1288px 108px #FFF , 1367px 14px #FFF , 475px 1291px #FFF , 1176px 1995px #FFF , 1168px 994px #FFF , 650px 1637px #FFF , 1175px 1216px #FFF , 992px 1792px #FFF , 406px 337px #FFF , 1719px 219px #FFF , 1048px 826px #FFF , 1451px 1187px #FFF , 1056px 1145px #FFF , 550px 1918px #FFF , 1605px 784px #FFF , 852px 1063px #FFF , 1656px 960px #FFF , 1147px 1590px #FFF , 284px 306px #FFF , 1129px 299px #FFF , 300px 554px #FFF , 584px 134px #FFF , 582px 1683px #FFF , 1458px 1256px #FFF , 1391px 1678px #FFF , 1570px 1885px #FFF , 1884px 1717px #FFF , 619px 1983px #FFF , 185px 999px #FFF , 730px 1447px #FFF , 428px 303px #FFF , 114px 1386px #FFF , 596px 1557px #FFF , 965px 436px #FFF , 1553px 570px #FFF , 232px 650px #FFF , 1318px 893px #FFF , 493px 857px #FFF , 754px 446px #FFF , 843px 441px #FFF , 966px 983px #FFF , 67px 588px #FFF , 1735px 1693px #FFF , 902px 1930px #FFF , 538px 265px #FFF , 481px 324px #FFF , 227px 1188px #FFF , 355px 1807px #FFF , 1678px 1915px #FFF , 494px 20px #FFF , 386px 1355px #FFF , 890px 1999px #FFF , 1679px 1609px #FFF , 1592px 175px #FFF , 206px 1756px #FFF , 1978px 1668px #FFF , 810px 627px #FFF , 1573px 1250px #FFF , 1296px 1003px #FFF , 817px 1025px #FFF , 1970px 1179px #FFF , 1946px 634px #FFF , 628px 192px #FFF , 321px 1081px #FFF , 124px 364px #FFF , 1007px 1688px #FFF , 592px 768px #FFF , 123px 1645px #FFF , 1576px 183px #FFF , 908px 1042px #FFF , 536px 1640px #FFF , 88px 838px #FFF , 1914px 740px #FFF , 823px 1355px #FFF , 956px 401px #FFF , 434px 1603px #FFF , 1651px 1290px #FFF , 362px 1791px #FFF , 1971px 1930px #FFF , 503px 1803px #FFF , 1306px 998px #FFF , 1592px 1926px #FFF , 1413px 99px #FFF , 1651px 688px #FFF , 1532px 1260px #FFF , 1544px 1093px #FFF , 1011px 282px #FFF , 1779px 1455px #FFF , 218px 1616px #FFF , 1823px 8px #FFF , 1045px 1841px #FFF , 611px 665px #FFF , 552px 1808px #FFF , 485px 485px #FFF , 815px 750px #FFF , 1504px 29px #FFF , 93px 1728px #FFF , 1374px 512px #FFF , 567px 1166px #FFF , 912px 131px #FFF , 1896px 1229px #FFF , 857px 1337px #FFF , 433px 1556px #FFF , 765px 727px #FFF , 477px 487px #FFF , 1506px 430px #FFF , 762px 1689px #FFF , 723px 1844px #FFF , 448px 1568px #FFF , 669px 1049px #FFF , 1303px 1537px #FFF , 1978px 10px #FFF , 873px 1994px #FFF , 569px 970px #FFF , 1074px 1558px #FFF , 1460px 604px #FFF , 1920px 87px #FFF , 592px 1059px #FFF , 1664px 888px #FFF , 727px 309px #FFF , 1477px 617px #FFF , 63px 891px #FFF , 950px 519px #FFF , 1266px 282px #FFF , 1194px 1175px #FFF , 1371px 317px #FFF , 1676px 1419px #FFF , 1504px 1804px #FFF , 413px 517px #FFF , 1030px 1143px #FFF , 1475px 1155px #FFF , 1392px 926px #FFF , 982px 1704px #FFF , 757px 1960px #FFF , 1934px 207px #FFF , 1295px 1787px #FFF , 527px 1443px #FFF , 753px 1982px #FFF , 177px 1705px #FFF , 1328px 281px #FFF , 1292px 624px #FFF , 354px 1729px #FFF , 1325px 581px #FFF , 881px 1368px #FFF , 438px 921px #FFF , 623px 636px #FFF , 1581px 328px #FFF , 1031px 1354px #FFF , 859px 467px #FFF , 1814px 1192px #FFF , 180px 1657px #FFF , 1461px 1507px #FFF , 679px 955px #FFF , 41px 1604px #FFF , 743px 51px #FFF , 15px 890px #FFF , 1136px 1259px #FFF , 1382px 1905px #FFF , 1642px 747px #FFF , 1244px 1448px #FFF , 932px 1188px #FFF , 987px 1127px #FFF , 1359px 300px #FFF , 922px 1830px #FFF , 1206px 1819px #FFF , 736px 494px #FFF , 144px 1541px #FFF , 1666px 1041px #FFF , 1976px 105px #FFF , 1504px 1125px #FFF , 1560px 787px #FFF , 573px 1023px #FFF , 1584px 676px #FFF , 1700px 195px #FFF , 1076px 1406px #FFF , 377px 1921px #FFF , 1321px 1636px #FFF , 1090px 75px #FFF , 1330px 192px #FFF , 1541px 1250px #FFF , 1722px 571px #FFF , 930px 831px #FFF , 1882px 1237px #FFF , 1389px 1639px #FFF , 595px 858px #FFF , 1547px 405px #FFF , 1798px 110px #FFF , 1183px 682px #FFF , 496px 1152px #FFF , 910px 439px #FFF , 860px 823px #FFF , 855px 933px #FFF , 1102px 1914px #FFF , 346px 569px #FFF , 1007px 722px #FFF , 362px 1751px #FFF , 1190px 1127px #FFF , 1601px 1624px #FFF , 1815px 1537px #FFF , 4px 1842px #FFF , 1741px 1614px #FFF , 842px 1982px #FFF , 1082px 1819px #FFF , 754px 1396px #FFF , 1925px 1390px #FFF , 1271px 1407px #FFF , 397px 998px #FFF , 978px 1408px #FFF , 52px 1358px #FFF , 533px 1177px #FFF , 771px 1160px #FFF , 327px 1584px #FFF , 1834px 1654px #FFF , 1348px 1304px #FFF , 463px 1597px #FFF , 511px 1253px #FFF , 1003px 952px #FFF , 1554px 1240px #FFF , 1453px 1632px #FFF , 282px 1257px #FFF , 1896px 58px #FFF , 1834px 623px #FFF , 1062px 1706px #FFF , 373px 1720px #FFF , 468px 1218px #FFF , 634px 534px #FFF , 3px 726px #FFF , 615px 1213px #FFF , 1325px 1351px #FFF , 326px 430px #FFF , 556px 830px #FFF , 1848px 1358px #FFF , 811px 338px #FFF , 366px 1811px #FFF , 1937px 55px #FFF , 1660px 368px #FFF , 206px 1196px #FFF , 1059px 213px #FFF , 699px 1595px #FFF , 1462px 668px #FFF , 1790px 1758px #FFF , 1044px 1024px #FFF , 1527px 1630px #FFF , 1974px 481px #FFF , 1766px 1535px #FFF , 1989px 332px #FFF , 900px 489px #FFF , 1555px 1798px #FFF , 405px 1832px #FFF , 1068px 1904px #FFF , 1566px 284px #FFF , 1304px 242px #FFF , 1982px 1458px #FFF , 1040px 733px #FFF , 1384px 204px #FFF , 189px 822px #FFF , 91px 1440px #FFF , 1379px 970px #FFF , 1946px 498px #FFF , 871px 1768px #FFF , 129px 953px #FFF , 620px 359px #FFF , 292px 263px #FFF , 166px 41px #FFF , 824px 29px #FFF , 219px 1625px #FFF , 564px 1013px #FFF , 248px 1751px #FFF , 176px 693px #FFF , 999px 391px #FFF , 365px 310px #FFF , 813px 777px #FFF , 873px 73px #FFF , 1835px 516px #FFF , 384px 924px #FFF , 1546px 92px #FFF , 194px 1410px #FFF , 715px 1757px #FFF , 1521px 313px #FFF , 1867px 979px #FFF , 531px 1673px #FFF , 1707px 1755px #FFF , 1519px 273px #FFF , 952px 1197px #FFF , 1283px 1141px #FFF , 947px 436px #FFF , 1143px 1402px #FFF , 775px 529px #FFF , 411px 1245px #FFF , 1094px 1464px #FFF , 19px 284px #FFF , 1113px 1270px #FFF , 596px 1837px #FFF , 201px 293px #FFF , 1141px 1593px #FFF , 415px 66px #FFF , 1269px 1776px #FFF , 355px 677px #FFF , 1103px 1171px #FFF , 1052px 1167px #FFF , 1747px 498px #FFF , 357px 1619px #FFF , 699px 538px #FFF , 412px 1662px #FFF , 244px 396px #FFF , 89px 247px #FFF , 303px 618px #FFF , 1745px 917px #FFF , 643px 1293px #FFF , 1017px 1505px #FFF , 1055px 1159px #FFF , 290px 1181px #FFF , 641px 477px #FFF , 1957px 1248px #FFF , 389px 1075px #FFF , 1539px 1617px #FFF , 594px 1915px #FFF , 406px 1439px #FFF , 1927px 1501px #FFF , 717px 1045px #FFF , 806px 1755px #FFF , 1379px 736px #FFF , 85px 87px #FFF , 89px 356px #FFF , 586px 1934px #FFF , 521px 1045px #FFF , 742px 1737px #FFF , 312px 1302px #FFF , 735px 1263px #FFF , 415px 1864px #FFF , 809px 159px #FFF , 1199px 436px #FFF , 58px 1305px #FFF , 971px 444px #FFF , 3px 1376px #FFF , 1885px 1777px #FFF , 1608px 1056px #FFF , 1090px 1156px #FFF , 1943px 1482px #FFF , 758px 951px #FFF , 94px 1448px #FFF , 1285px 1194px #FFF , 537px 604px #FFF , 896px 1150px #FFF , 420px 1412px #FFF , 1926px 914px #FFF , 1800px 324px #FFF , 1118px 289px #FFF , 975px 1580px #FFF , 1034px 1357px #FFF , 777px 334px #FFF , 1612px 464px #FFF , 187px 1526px #FFF , 1878px 1745px #FFF , 873px 824px #FFF , 818px 762px #FFF , 248px 543px #FFF , 1117px 1769px #FFF , 188px 1321px #FFF , 1051px 1810px #FFF , 1871px 1016px #FFF , 1067px 662px #FFF , 270px 1609px #FFF , 258px 737px #FFF , 683px 1177px #FFF , 1371px 45px #FFF , 690px 236px #FFF , 1712px 871px #FFF , 1202px 1196px #FFF , 890px 92px #FFF , 1205px 1483px #FFF , 1882px 1060px #FFF , 554px 926px #FFF , 1967px 134px #FFF , 1486px 157px #FFF , 1044px 1373px #FFF , 1557px 1101px #FFF , 1319px 1638px #FFF , 664px 285px #FFF , 641px 1993px #FFF , 1450px 1786px #FFF , 1416px 1368px #FFF , 143px 472px #FFF , 564px 1842px #FFF , 806px 1054px #FFF , 831px 1062px #FFF , 30px 575px #FFF , 366px 1691px #FFF , 393px 1004px #FFF , 339px 1167px #FFF , 685px 1047px #FFF , 958px 507px #FFF , 1985px 792px #FFF , 1830px 1580px #FFF , 1072px 1338px #FFF , 254px 832px #FFF , 754px 1207px #FFF , 857px 929px #FFF , 1498px 1194px #FFF , 338px 179px #FFF , 829px 1541px #FFF , 413px 468px #FFF , 1487px 36px #FFF , 1486px 508px #FFF , 1467px 356px #FFF , 1938px 49px #FFF , 11px 1484px #FFF , 110px 1180px #FFF , 390px 1961px #FFF , 1312px 437px #FFF , 889px 1162px #FFF , 1435px 1812px #FFF , 501px 477px #FFF , 158px 1938px #FFF , 1578px 358px #FFF , 168px 604px #FFF , 712px 1377px #FFF , 1841px 348px #FFF , 1043px 786px #FFF , 601px 393px #FFF , 1096px 693px #FFF , 403px 730px #FFF , 956px 559px #FFF , 1331px 182px #FFF , 326px 156px #FFF , 1707px 468px #FFF , 588px 1301px #FFF , 715px 1614px #FFF , 1872px 689px #FFF , 37px 183px #FFF , 1021px 1214px #FFF , 231px 644px #FFF , 554px 1285px #FFF , 1750px 422px #FFF , 1305px 1077px #FFF , 1899px 1256px #FFF , 72px 858px #FFF , 1208px 1774px #FFF , 181px 1038px #FFF , 951px 1570px #FFF , 1565px 349px #FFF , 46px 1691px #FFF , 1235px 1003px #FFF , 1351px 121px #FFF , 1444px 1106px #FFF , 2000px 620px #FFF , 1974px 475px #FFF , 1383px 122px #FFF , 707px 1231px #FFF , 67px 619px #FFF , 694px 157px #FFF , 33px 848px #FFF , 1374px 623px #FFF , 907px 597px #FFF , 1983px 328px #FFF , 1162px 1127px #FFF , 826px 849px #FFF , 1304px 447px #FFF , 1726px 1031px #FFF , 1991px 1568px #FFF , 666px 1068px #FFF , 805px 1673px #FFF , 1605px 1749px #FFF , 1631px 411px #FFF , 335px 1565px #FFF , 711px 891px #FFF , 171px 1346px #FFF , 161px 379px #FFF , 113px 725px #FFF , 1671px 259px #FFF , 101px 230px #FFF , 413px 1133px #FFF , 394px 298px #FFF , 393px 1956px #FFF , 285px 1029px #FFF , 51px 899px #FFF , 1515px 107px #FFF , 1823px 1999px #FFF , 1670px 731px #FFF , 968px 817px #FFF , 1791px 1100px #FFF , 1604px 1091px #FFF , 671px 1954px #FFF , 506px 123px #FFF , 433px 48px #FFF , 429px 1458px #FFF , 1683px 840px #FFF , 1423px 946px #FFF , 1550px 397px #FFF , 1882px 549px #FFF , 749px 1435px #FFF , 1964px 1610px #FFF , 897px 884px #FFF , 651px 995px #FFF , 343px 1650px #FFF , 1673px 579px #FFF , 1515px 96px #FFF , 534px 1254px #FFF , 270px 1732px #FFF , 663px 36px #FFF , 1722px 572px #FFF , 1981px 1109px #FFF , 1032px 207px #FFF , 1378px 998px #FFF , 1408px 941px #FFF , 1679px 1311px #FFF , 482px 174px #FFF , 299px 1028px #FFF , 1698px 949px #FFF , 1978px 1878px #FFF , 787px 315px #FFF , 1669px 488px #FFF , 605px 622px #FFF , 13px 1026px #FFF , 1437px 599px #FFF , 617px 316px #FFF , 1676px 1303px #FFF , 536px 1857px #FFF , 1402px 1068px #FFF , 730px 1849px #FFF , 256px 842px #FFF , 1215px 115px #FFF , 718px 1974px #FFF , 1089px 1122px #FFF , 1544px 1270px #FFF , 1500px 921px #FFF , 1531px 372px #FFF , 606px 601px #FFF , 620px 740px #FFF , 643px 117px #FFF , 162px 1437px #FFF , 1201px 1796px #FFF , 38px 274px #FFF , 1640px 1920px #FFF , 482px 648px #FFF , 1003px 1393px #FFF , 1470px 422px #FFF , 865px 500px #FFF , 1656px 359px #FFF , 344px 1406px #FFF , 601px 1063px #FFF , 1763px 987px #FFF , 282px 1798px #FFF , 567px 991px #FFF , 420px 736px #FFF , 356px 1625px #FFF , 1026px 1817px #FFF , 482px 573px #FFF , 670px 1935px #FFF , 1728px 1852px #FFF , 251px 1943px #FFF , 475px 285px #FFF , 25px 89px #FFF , 176px 1149px #FFF , 941px 1854px #FFF , 399px 956px #FFF , 409px 240px #FFF , 1977px 1640px #FFF , 1725px 725px #FFF , 90px 1735px #FFF , 58px 1687px #FFF , 1369px 1169px #FFF , 201px 304px #FFF , 242px 1007px #FFF , 699px 1107px #FFF , 1367px 1522px #FFF , 494px 948px #FFF , 319px 1871px #FFF , 298px 1655px #FFF , 1734px 1531px #FFF , 793px 1518px #FFF , 68px 1166px #FFF , 1529px 407px #FFF , 1764px 1776px #FFF , 1379px 162px #FFF , 1179px 350px #FFF , 707px 1311px #FFF , 1191px 1344px #FFF , 509px 117px #FFF , 663px 1010px #FFF , 1114px 898px #FFF , 221px 401px #FFF , 838px 170px #FFF , 1676px 278px #FFF , 773px 1306px #FFF , 67px 518px #FFF , 829px 1777px #FFF , 943px 463px #FFF , 82px 152px #FFF , 530px 553px #FFF , 428px 1062px #FFF , 185px 1847px #FFF , 277px 1826px #FFF , 1059px 1670px #FFF , 218px 1534px #FFF , 396px 1010px #FFF , 722px 493px #FFF , 1537px 876px #FFF , 562px 1512px #FFF;
 box-shadow:360px 940px #FFF , 1429px 497px #FFF , 1964px 1447px #FFF , 648px 1754px #FFF , 1612px 1105px #FFF , 93px 529px #FFF , 1673px 674px #FFF , 1501px 1778px #FFF , 1975px 1410px #FFF , 582px 1762px #FFF , 909px 1108px #FFF , 1566px 471px #FFF , 849px 83px #FFF , 1786px 935px #FFF , 105px 1321px #FFF , 122px 1118px #FFF , 445px 1809px #FFF , 435px 543px #FFF , 518px 495px #FFF , 336px 1800px #FFF , 934px 1819px #FFF , 1176px 1910px #FFF , 1142px 1026px #FFF , 513px 1443px #FFF , 1187px 732px #FFF , 1551px 145px #FFF , 1242px 1112px #FFF , 1611px 786px #FFF , 135px 1054px #FFF , 1418px 1335px #FFF , 75px 944px #FFF , 701px 1198px #FFF , 821px 1386px #FFF , 682px 1010px #FFF , 511px 1266px #FFF , 337px 852px #FFF , 1202px 1706px #FFF , 755px 1841px #FFF , 1772px 230px #FFF , 1754px 97px #FFF , 435px 199px #FFF , 1333px 134px #FFF , 977px 194px #FFF , 669px 921px #FFF , 1639px 360px #FFF , 678px 1838px #FFF , 860px 812px #FFF , 1271px 342px #FFF , 1018px 692px #FFF , 1017px 498px #FFF , 1986px 1982px #FFF , 1189px 1202px #FFF , 366px 1699px #FFF , 821px 1963px #FFF , 516px 783px #FFF , 1545px 732px #FFF , 1114px 1076px #FFF , 543px 973px #FFF , 1169px 653px #FFF , 99px 1180px #FFF , 1383px 1000px #FFF , 1653px 724px #FFF , 1948px 1911px #FFF , 1402px 525px #FFF , 1080px 1283px #FFF , 50px 101px #FFF , 329px 228px #FFF , 700px 694px #FFF , 390px 704px #FFF , 167px 1163px #FFF , 262px 1696px #FFF , 1888px 31px #FFF , 460px 1123px #FFF , 1764px 1839px #FFF , 31px 320px #FFF , 1513px 598px #FFF , 1922px 8px #FFF , 290px 711px #FFF , 787px 1136px #FFF , 1485px 1119px #FFF , 905px 93px #FFF , 276px 418px #FFF , 105px 18px #FFF , 1760px 1809px #FFF , 1393px 1468px #FFF , 145px 1360px #FFF , 1039px 633px #FFF , 1203px 1865px #FFF , 237px 300px #FFF , 1050px 1969px #FFF , 1011px 399px #FFF , 1235px 1940px #FFF , 1897px 1757px #FFF , 158px 336px #FFF , 1875px 339px #FFF , 1038px 877px #FFF , 440px 801px #FFF , 1433px 576px #FFF , 44px 200px #FFF , 834px 590px #FFF , 738px 244px #FFF , 1288px 108px #FFF , 1367px 14px #FFF , 475px 1291px #FFF , 1176px 1995px #FFF , 1168px 994px #FFF , 650px 1637px #FFF , 1175px 1216px #FFF , 992px 1792px #FFF , 406px 337px #FFF , 1719px 219px #FFF , 1048px 826px #FFF , 1451px 1187px #FFF , 1056px 1145px #FFF , 550px 1918px #FFF , 1605px 784px #FFF , 852px 1063px #FFF , 1656px 960px #FFF , 1147px 1590px #FFF , 284px 306px #FFF , 1129px 299px #FFF , 300px 554px #FFF , 584px 134px #FFF , 582px 1683px #FFF , 1458px 1256px #FFF , 1391px 1678px #FFF , 1570px 1885px #FFF , 1884px 1717px #FFF , 619px 1983px #FFF , 185px 999px #FFF , 730px 1447px #FFF , 428px 303px #FFF , 114px 1386px #FFF , 596px 1557px #FFF , 965px 436px #FFF , 1553px 570px #FFF , 232px 650px #FFF , 1318px 893px #FFF , 493px 857px #FFF , 754px 446px #FFF , 843px 441px #FFF , 966px 983px #FFF , 67px 588px #FFF , 1735px 1693px #FFF , 902px 1930px #FFF , 538px 265px #FFF , 481px 324px #FFF , 227px 1188px #FFF , 355px 1807px #FFF , 1678px 1915px #FFF , 494px 20px #FFF , 386px 1355px #FFF , 890px 1999px #FFF , 1679px 1609px #FFF , 1592px 175px #FFF , 206px 1756px #FFF , 1978px 1668px #FFF , 810px 627px #FFF , 1573px 1250px #FFF , 1296px 1003px #FFF , 817px 1025px #FFF , 1970px 1179px #FFF , 1946px 634px #FFF , 628px 192px #FFF , 321px 1081px #FFF , 124px 364px #FFF , 1007px 1688px #FFF , 592px 768px #FFF , 123px 1645px #FFF , 1576px 183px #FFF , 908px 1042px #FFF , 536px 1640px #FFF , 88px 838px #FFF , 1914px 740px #FFF , 823px 1355px #FFF , 956px 401px #FFF , 434px 1603px #FFF , 1651px 1290px #FFF , 362px 1791px #FFF , 1971px 1930px #FFF , 503px 1803px #FFF , 1306px 998px #FFF , 1592px 1926px #FFF , 1413px 99px #FFF , 1651px 688px #FFF , 1532px 1260px #FFF , 1544px 1093px #FFF , 1011px 282px #FFF , 1779px 1455px #FFF , 218px 1616px #FFF , 1823px 8px #FFF , 1045px 1841px #FFF , 611px 665px #FFF , 552px 1808px #FFF , 485px 485px #FFF , 815px 750px #FFF , 1504px 29px #FFF , 93px 1728px #FFF , 1374px 512px #FFF , 567px 1166px #FFF , 912px 131px #FFF , 1896px 1229px #FFF , 857px 1337px #FFF , 433px 1556px #FFF , 765px 727px #FFF , 477px 487px #FFF , 1506px 430px #FFF , 762px 1689px #FFF , 723px 1844px #FFF , 448px 1568px #FFF , 669px 1049px #FFF , 1303px 1537px #FFF , 1978px 10px #FFF , 873px 1994px #FFF , 569px 970px #FFF , 1074px 1558px #FFF , 1460px 604px #FFF , 1920px 87px #FFF , 592px 1059px #FFF , 1664px 888px #FFF , 727px 309px #FFF , 1477px 617px #FFF , 63px 891px #FFF , 950px 519px #FFF , 1266px 282px #FFF , 1194px 1175px #FFF , 1371px 317px #FFF , 1676px 1419px #FFF , 1504px 1804px #FFF , 413px 517px #FFF , 1030px 1143px #FFF , 1475px 1155px #FFF , 1392px 926px #FFF , 982px 1704px #FFF , 757px 1960px #FFF , 1934px 207px #FFF , 1295px 1787px #FFF , 527px 1443px #FFF , 753px 1982px #FFF , 177px 1705px #FFF , 1328px 281px #FFF , 1292px 624px #FFF , 354px 1729px #FFF , 1325px 581px #FFF , 881px 1368px #FFF , 438px 921px #FFF , 623px 636px #FFF , 1581px 328px #FFF , 1031px 1354px #FFF , 859px 467px #FFF , 1814px 1192px #FFF , 180px 1657px #FFF , 1461px 1507px #FFF , 679px 955px #FFF , 41px 1604px #FFF , 743px 51px #FFF , 15px 890px #FFF , 1136px 1259px #FFF , 1382px 1905px #FFF , 1642px 747px #FFF , 1244px 1448px #FFF , 932px 1188px #FFF , 987px 1127px #FFF , 1359px 300px #FFF , 922px 1830px #FFF , 1206px 1819px #FFF , 736px 494px #FFF , 144px 1541px #FFF , 1666px 1041px #FFF , 1976px 105px #FFF , 1504px 1125px #FFF , 1560px 787px #FFF , 573px 1023px #FFF , 1584px 676px #FFF , 1700px 195px #FFF , 1076px 1406px #FFF , 377px 1921px #FFF , 1321px 1636px #FFF , 1090px 75px #FFF , 1330px 192px #FFF , 1541px 1250px #FFF , 1722px 571px #FFF , 930px 831px #FFF , 1882px 1237px #FFF , 1389px 1639px #FFF , 595px 858px #FFF , 1547px 405px #FFF , 1798px 110px #FFF , 1183px 682px #FFF , 496px 1152px #FFF , 910px 439px #FFF , 860px 823px #FFF , 855px 933px #FFF , 1102px 1914px #FFF , 346px 569px #FFF , 1007px 722px #FFF , 362px 1751px #FFF , 1190px 1127px #FFF , 1601px 1624px #FFF , 1815px 1537px #FFF , 4px 1842px #FFF , 1741px 1614px #FFF , 842px 1982px #FFF , 1082px 1819px #FFF , 754px 1396px #FFF , 1925px 1390px #FFF , 1271px 1407px #FFF , 397px 998px #FFF , 978px 1408px #FFF , 52px 1358px #FFF , 533px 1177px #FFF , 771px 1160px #FFF , 327px 1584px #FFF , 1834px 1654px #FFF , 1348px 1304px #FFF , 463px 1597px #FFF , 511px 1253px #FFF , 1003px 952px #FFF , 1554px 1240px #FFF , 1453px 1632px #FFF , 282px 1257px #FFF , 1896px 58px #FFF , 1834px 623px #FFF , 1062px 1706px #FFF , 373px 1720px #FFF , 468px 1218px #FFF , 634px 534px #FFF , 3px 726px #FFF , 615px 1213px #FFF , 1325px 1351px #FFF , 326px 430px #FFF , 556px 830px #FFF , 1848px 1358px #FFF , 811px 338px #FFF , 366px 1811px #FFF , 1937px 55px #FFF , 1660px 368px #FFF , 206px 1196px #FFF , 1059px 213px #FFF , 699px 1595px #FFF , 1462px 668px #FFF , 1790px 1758px #FFF , 1044px 1024px #FFF , 1527px 1630px #FFF , 1974px 481px #FFF , 1766px 1535px #FFF , 1989px 332px #FFF , 900px 489px #FFF , 1555px 1798px #FFF , 405px 1832px #FFF , 1068px 1904px #FFF , 1566px 284px #FFF , 1304px 242px #FFF , 1982px 1458px #FFF , 1040px 733px #FFF , 1384px 204px #FFF , 189px 822px #FFF , 91px 1440px #FFF , 1379px 970px #FFF , 1946px 498px #FFF , 871px 1768px #FFF , 129px 953px #FFF , 620px 359px #FFF , 292px 263px #FFF , 166px 41px #FFF , 824px 29px #FFF , 219px 1625px #FFF , 564px 1013px #FFF , 248px 1751px #FFF , 176px 693px #FFF , 999px 391px #FFF , 365px 310px #FFF , 813px 777px #FFF , 873px 73px #FFF , 1835px 516px #FFF , 384px 924px #FFF , 1546px 92px #FFF , 194px 1410px #FFF , 715px 1757px #FFF , 1521px 313px #FFF , 1867px 979px #FFF , 531px 1673px #FFF , 1707px 1755px #FFF , 1519px 273px #FFF , 952px 1197px #FFF , 1283px 1141px #FFF , 947px 436px #FFF , 1143px 1402px #FFF , 775px 529px #FFF , 411px 1245px #FFF , 1094px 1464px #FFF , 19px 284px #FFF , 1113px 1270px #FFF , 596px 1837px #FFF , 201px 293px #FFF , 1141px 1593px #FFF , 415px 66px #FFF , 1269px 1776px #FFF , 355px 677px #FFF , 1103px 1171px #FFF , 1052px 1167px #FFF , 1747px 498px #FFF , 357px 1619px #FFF , 699px 538px #FFF , 412px 1662px #FFF , 244px 396px #FFF , 89px 247px #FFF , 303px 618px #FFF , 1745px 917px #FFF , 643px 1293px #FFF , 1017px 1505px #FFF , 1055px 1159px #FFF , 290px 1181px #FFF , 641px 477px #FFF , 1957px 1248px #FFF , 389px 1075px #FFF , 1539px 1617px #FFF , 594px 1915px #FFF , 406px 1439px #FFF , 1927px 1501px #FFF , 717px 1045px #FFF , 806px 1755px #FFF , 1379px 736px #FFF , 85px 87px #FFF , 89px 356px #FFF , 586px 1934px #FFF , 521px 1045px #FFF , 742px 1737px #FFF , 312px 1302px #FFF , 735px 1263px #FFF , 415px 1864px #FFF , 809px 159px #FFF , 1199px 436px #FFF , 58px 1305px #FFF , 971px 444px #FFF , 3px 1376px #FFF , 1885px 1777px #FFF , 1608px 1056px #FFF , 1090px 1156px #FFF , 1943px 1482px #FFF , 758px 951px #FFF , 94px 1448px #FFF , 1285px 1194px #FFF , 537px 604px #FFF , 896px 1150px #FFF , 420px 1412px #FFF , 1926px 914px #FFF , 1800px 324px #FFF , 1118px 289px #FFF , 975px 1580px #FFF , 1034px 1357px #FFF , 777px 334px #FFF , 1612px 464px #FFF , 187px 1526px #FFF , 1878px 1745px #FFF , 873px 824px #FFF , 818px 762px #FFF , 248px 543px #FFF , 1117px 1769px #FFF , 188px 1321px #FFF , 1051px 1810px #FFF , 1871px 1016px #FFF , 1067px 662px #FFF , 270px 1609px #FFF , 258px 737px #FFF , 683px 1177px #FFF , 1371px 45px #FFF , 690px 236px #FFF , 1712px 871px #FFF , 1202px 1196px #FFF , 890px 92px #FFF , 1205px 1483px #FFF , 1882px 1060px #FFF , 554px 926px #FFF , 1967px 134px #FFF , 1486px 157px #FFF , 1044px 1373px #FFF , 1557px 1101px #FFF , 1319px 1638px #FFF , 664px 285px #FFF , 641px 1993px #FFF , 1450px 1786px #FFF , 1416px 1368px #FFF , 143px 472px #FFF , 564px 1842px #FFF , 806px 1054px #FFF , 831px 1062px #FFF , 30px 575px #FFF , 366px 1691px #FFF , 393px 1004px #FFF , 339px 1167px #FFF , 685px 1047px #FFF , 958px 507px #FFF , 1985px 792px #FFF , 1830px 1580px #FFF , 1072px 1338px #FFF , 254px 832px #FFF , 754px 1207px #FFF , 857px 929px #FFF , 1498px 1194px #FFF , 338px 179px #FFF , 829px 1541px #FFF , 413px 468px #FFF , 1487px 36px #FFF , 1486px 508px #FFF , 1467px 356px #FFF , 1938px 49px #FFF , 11px 1484px #FFF , 110px 1180px #FFF , 390px 1961px #FFF , 1312px 437px #FFF , 889px 1162px #FFF , 1435px 1812px #FFF , 501px 477px #FFF , 158px 1938px #FFF , 1578px 358px #FFF , 168px 604px #FFF , 712px 1377px #FFF , 1841px 348px #FFF , 1043px 786px #FFF , 601px 393px #FFF , 1096px 693px #FFF , 403px 730px #FFF , 956px 559px #FFF , 1331px 182px #FFF , 326px 156px #FFF , 1707px 468px #FFF , 588px 1301px #FFF , 715px 1614px #FFF , 1872px 689px #FFF , 37px 183px #FFF , 1021px 1214px #FFF , 231px 644px #FFF , 554px 1285px #FFF , 1750px 422px #FFF , 1305px 1077px #FFF , 1899px 1256px #FFF , 72px 858px #FFF , 1208px 1774px #FFF , 181px 1038px #FFF , 951px 1570px #FFF , 1565px 349px #FFF , 46px 1691px #FFF , 1235px 1003px #FFF , 1351px 121px #FFF , 1444px 1106px #FFF , 2000px 620px #FFF , 1974px 475px #FFF , 1383px 122px #FFF , 707px 1231px #FFF , 67px 619px #FFF , 694px 157px #FFF , 33px 848px #FFF , 1374px 623px #FFF , 907px 597px #FFF , 1983px 328px #FFF , 1162px 1127px #FFF , 826px 849px #FFF , 1304px 447px #FFF , 1726px 1031px #FFF , 1991px 1568px #FFF , 666px 1068px #FFF , 805px 1673px #FFF , 1605px 1749px #FFF , 1631px 411px #FFF , 335px 1565px #FFF , 711px 891px #FFF , 171px 1346px #FFF , 161px 379px #FFF , 113px 725px #FFF , 1671px 259px #FFF , 101px 230px #FFF , 413px 1133px #FFF , 394px 298px #FFF , 393px 1956px #FFF , 285px 1029px #FFF , 51px 899px #FFF , 1515px 107px #FFF , 1823px 1999px #FFF , 1670px 731px #FFF , 968px 817px #FFF , 1791px 1100px #FFF , 1604px 1091px #FFF , 671px 1954px #FFF , 506px 123px #FFF , 433px 48px #FFF , 429px 1458px #FFF , 1683px 840px #FFF , 1423px 946px #FFF , 1550px 397px #FFF , 1882px 549px #FFF , 749px 1435px #FFF , 1964px 1610px #FFF , 897px 884px #FFF , 651px 995px #FFF , 343px 1650px #FFF , 1673px 579px #FFF , 1515px 96px #FFF , 534px 1254px #FFF , 270px 1732px #FFF , 663px 36px #FFF , 1722px 572px #FFF , 1981px 1109px #FFF , 1032px 207px #FFF , 1378px 998px #FFF , 1408px 941px #FFF , 1679px 1311px #FFF , 482px 174px #FFF , 299px 1028px #FFF , 1698px 949px #FFF , 1978px 1878px #FFF , 787px 315px #FFF , 1669px 488px #FFF , 605px 622px #FFF , 13px 1026px #FFF , 1437px 599px #FFF , 617px 316px #FFF , 1676px 1303px #FFF , 536px 1857px #FFF , 1402px 1068px #FFF , 730px 1849px #FFF , 256px 842px #FFF , 1215px 115px #FFF , 718px 1974px #FFF , 1089px 1122px #FFF , 1544px 1270px #FFF , 1500px 921px #FFF , 1531px 372px #FFF , 606px 601px #FFF , 620px 740px #FFF , 643px 117px #FFF , 162px 1437px #FFF , 1201px 1796px #FFF , 38px 274px #FFF , 1640px 1920px #FFF , 482px 648px #FFF , 1003px 1393px #FFF , 1470px 422px #FFF , 865px 500px #FFF , 1656px 359px #FFF , 344px 1406px #FFF , 601px 1063px #FFF , 1763px 987px #FFF , 282px 1798px #FFF , 567px 991px #FFF , 420px 736px #FFF , 356px 1625px #FFF , 1026px 1817px #FFF , 482px 573px #FFF , 670px 1935px #FFF , 1728px 1852px #FFF , 251px 1943px #FFF , 475px 285px #FFF , 25px 89px #FFF , 176px 1149px #FFF , 941px 1854px #FFF , 399px 956px #FFF , 409px 240px #FFF , 1977px 1640px #FFF , 1725px 725px #FFF , 90px 1735px #FFF , 58px 1687px #FFF , 1369px 1169px #FFF , 201px 304px #FFF , 242px 1007px #FFF , 699px 1107px #FFF , 1367px 1522px #FFF , 494px 948px #FFF , 319px 1871px #FFF , 298px 1655px #FFF , 1734px 1531px #FFF , 793px 1518px #FFF , 68px 1166px #FFF , 1529px 407px #FFF , 1764px 1776px #FFF , 1379px 162px #FFF , 1179px 350px #FFF , 707px 1311px #FFF , 1191px 1344px #FFF , 509px 117px #FFF , 663px 1010px #FFF , 1114px 898px #FFF , 221px 401px #FFF , 838px 170px #FFF , 1676px 278px #FFF , 773px 1306px #FFF , 67px 518px #FFF , 829px 1777px #FFF , 943px 463px #FFF , 82px 152px #FFF , 530px 553px #FFF , 428px 1062px #FFF , 185px 1847px #FFF , 277px 1826px #FFF , 1059px 1670px #FFF , 218px 1534px #FFF , 396px 1010px #FFF , 722px 493px #FFF , 1537px 876px #FFF , 562px 1512px #FFF;
 -webkit-animation:starsUp 50s linear infinite;
 animation:starsUp 50s linear infinite
}
.background .stars.small:after {
 width:2px;
 height:2px;
 -webkit-box-shadow:360px 940px #FFF, 1429px 497px #FFF, 1964px 1447px #FFF, 648px 1754px #FFF, 1612px 1105px #FFF, 93px 529px #FFF, 1673px 674px #FFF, 1501px 1778px #FFF, 1975px 1410px #FFF, 582px 1762px #FFF, 909px 1108px #FFF, 1566px 471px #FFF, 849px 83px #FFF, 1786px 935px #FFF, 105px 1321px #FFF, 122px 1118px #FFF, 445px 1809px #FFF, 435px 543px #FFF, 518px 495px #FFF, 336px 1800px #FFF, 934px 1819px #FFF, 1176px 1910px #FFF, 1142px 1026px #FFF, 513px 1443px #FFF, 1187px 732px #FFF, 1551px 145px #FFF, 1242px 1112px #FFF, 1611px 786px #FFF, 135px 1054px #FFF, 1418px 1335px #FFF, 75px 944px #FFF, 701px 1198px #FFF, 821px 1386px #FFF, 682px 1010px #FFF, 511px 1266px #FFF, 337px 852px #FFF, 1202px 1706px #FFF, 755px 1841px #FFF, 1772px 230px #FFF, 1754px 97px #FFF, 435px 199px #FFF, 1333px 134px #FFF, 977px 194px #FFF, 669px 921px #FFF, 1639px 360px #FFF, 678px 1838px #FFF, 860px 812px #FFF, 1271px 342px #FFF, 1018px 692px #FFF, 1017px 498px #FFF, 1986px 1982px #FFF, 1189px 1202px #FFF, 366px 1699px #FFF, 821px 1963px #FFF, 516px 783px #FFF, 1545px 732px #FFF, 1114px 1076px #FFF, 543px 973px #FFF, 1169px 653px #FFF, 99px 1180px #FFF, 1383px 1000px #FFF, 1653px 724px #FFF, 1948px 1911px #FFF, 1402px 525px #FFF, 1080px 1283px #FFF, 50px 101px #FFF, 329px 228px #FFF, 700px 694px #FFF, 390px 704px #FFF, 167px 1163px #FFF, 262px 1696px #FFF, 1888px 31px #FFF, 460px 1123px #FFF, 1764px 1839px #FFF, 31px 320px #FFF, 1513px 598px #FFF, 1922px 8px #FFF, 290px 711px #FFF, 787px 1136px #FFF, 1485px 1119px #FFF, 905px 93px #FFF, 276px 418px #FFF, 105px 18px #FFF, 1760px 1809px #FFF, 1393px 1468px #FFF, 145px 1360px #FFF, 1039px 633px #FFF, 1203px 1865px #FFF, 237px 300px #FFF, 1050px 1969px #FFF, 1011px 399px #FFF, 1235px 1940px #FFF, 1897px 1757px #FFF, 158px 336px #FFF, 1875px 339px #FFF, 1038px 877px #FFF, 440px 801px #FFF, 1433px 576px #FFF, 44px 200px #FFF, 834px 590px #FFF, 738px 244px #FFF, 1288px 108px #FFF, 1367px 14px #FFF, 475px 1291px #FFF, 1176px 1995px #FFF, 1168px 994px #FFF, 650px 1637px #FFF, 1175px 1216px #FFF, 992px 1792px #FFF, 406px 337px #FFF, 1719px 219px #FFF, 1048px 826px #FFF, 1451px 1187px #FFF, 1056px 1145px #FFF, 550px 1918px #FFF, 1605px 784px #FFF, 852px 1063px #FFF, 1656px 960px #FFF, 1147px 1590px #FFF, 284px 306px #FFF, 1129px 299px #FFF, 300px 554px #FFF, 584px 134px #FFF, 582px 1683px #FFF, 1458px 1256px #FFF, 1391px 1678px #FFF, 1570px 1885px #FFF, 1884px 1717px #FFF, 619px 1983px #FFF, 185px 999px #FFF, 730px 1447px #FFF, 428px 303px #FFF, 114px 1386px #FFF, 596px 1557px #FFF, 965px 436px #FFF, 1553px 570px #FFF, 232px 650px #FFF, 1318px 893px #FFF, 493px 857px #FFF, 754px 446px #FFF, 843px 441px #FFF, 966px 983px #FFF, 67px 588px #FFF, 1735px 1693px #FFF, 902px 1930px #FFF, 538px 265px #FFF, 481px 324px #FFF, 227px 1188px #FFF, 355px 1807px #FFF, 1678px 1915px #FFF, 494px 20px #FFF, 386px 1355px #FFF, 890px 1999px #FFF, 1679px 1609px #FFF, 1592px 175px #FFF, 206px 1756px #FFF, 1978px 1668px #FFF, 810px 627px #FFF, 1573px 1250px #FFF, 1296px 1003px #FFF, 817px 1025px #FFF, 1970px 1179px #FFF, 1946px 634px #FFF, 628px 192px #FFF, 321px 1081px #FFF, 124px 364px #FFF, 1007px 1688px #FFF, 592px 768px #FFF, 123px 1645px #FFF, 1576px 183px #FFF, 908px 1042px #FFF, 536px 1640px #FFF, 88px 838px #FFF, 1914px 740px #FFF, 823px 1355px #FFF, 956px 401px #FFF, 434px 1603px #FFF, 1651px 1290px #FFF, 362px 1791px #FFF, 1971px 1930px #FFF, 503px 1803px #FFF, 1306px 998px #FFF, 1592px 1926px #FFF, 1413px 99px #FFF, 1651px 688px #FFF, 1532px 1260px #FFF, 1544px 1093px #FFF, 1011px 282px #FFF, 1779px 1455px #FFF, 218px 1616px #FFF, 1823px 8px #FFF, 1045px 1841px #FFF, 611px 665px #FFF, 552px 1808px #FFF, 485px 485px #FFF, 815px 750px #FFF, 1504px 29px #FFF, 93px 1728px #FFF, 1374px 512px #FFF, 567px 1166px #FFF, 912px 131px #FFF, 1896px 1229px #FFF, 857px 1337px #FFF, 433px 1556px #FFF, 765px 727px #FFF, 477px 487px #FFF, 1506px 430px #FFF, 762px 1689px #FFF, 723px 1844px #FFF, 448px 1568px #FFF, 669px 1049px #FFF, 1303px 1537px #FFF, 1978px 10px #FFF, 873px 1994px #FFF, 569px 970px #FFF, 1074px 1558px #FFF, 1460px 604px #FFF, 1920px 87px #FFF, 592px 1059px #FFF, 1664px 888px #FFF, 727px 309px #FFF, 1477px 617px #FFF, 63px 891px #FFF, 950px 519px #FFF, 1266px 282px #FFF, 1194px 1175px #FFF, 1371px 317px #FFF, 1676px 1419px #FFF, 1504px 1804px #FFF, 413px 517px #FFF, 1030px 1143px #FFF, 1475px 1155px #FFF, 1392px 926px #FFF, 982px 1704px #FFF, 757px 1960px #FFF, 1934px 207px #FFF, 1295px 1787px #FFF, 527px 1443px #FFF, 753px 1982px #FFF, 177px 1705px #FFF, 1328px 281px #FFF, 1292px 624px #FFF, 354px 1729px #FFF, 1325px 581px #FFF, 881px 1368px #FFF, 438px 921px #FFF, 623px 636px #FFF, 1581px 328px #FFF, 1031px 1354px #FFF, 859px 467px #FFF, 1814px 1192px #FFF, 180px 1657px #FFF, 1461px 1507px #FFF, 679px 955px #FFF, 41px 1604px #FFF, 743px 51px #FFF, 15px 890px #FFF, 1136px 1259px #FFF, 1382px 1905px #FFF, 1642px 747px #FFF, 1244px 1448px #FFF, 932px 1188px #FFF, 987px 1127px #FFF, 1359px 300px #FFF, 922px 1830px #FFF, 1206px 1819px #FFF, 736px 494px #FFF, 144px 1541px #FFF, 1666px 1041px #FFF, 1976px 105px #FFF, 1504px 1125px #FFF, 1560px 787px #FFF, 573px 1023px #FFF, 1584px 676px #FFF, 1700px 195px #FFF, 1076px 1406px #FFF, 377px 1921px #FFF, 1321px 1636px #FFF, 1090px 75px #FFF, 1330px 192px #FFF, 1541px 1250px #FFF, 1722px 571px #FFF, 930px 831px #FFF, 1882px 1237px #FFF, 1389px 1639px #FFF, 595px 858px #FFF, 1547px 405px #FFF, 1798px 110px #FFF, 1183px 682px #FFF, 496px 1152px #FFF, 910px 439px #FFF, 860px 823px #FFF, 855px 933px #FFF, 1102px 1914px #FFF, 346px 569px #FFF, 1007px 722px #FFF, 362px 1751px #FFF, 1190px 1127px #FFF, 1601px 1624px #FFF, 1815px 1537px #FFF, 4px 1842px #FFF, 1741px 1614px #FFF, 842px 1982px #FFF, 1082px 1819px #FFF, 754px 1396px #FFF, 1925px 1390px #FFF, 1271px 1407px #FFF, 397px 998px #FFF, 978px 1408px #FFF, 52px 1358px #FFF, 533px 1177px #FFF, 771px 1160px #FFF, 327px 1584px #FFF, 1834px 1654px #FFF, 1348px 1304px #FFF, 463px 1597px #FFF, 511px 1253px #FFF, 1003px 952px #FFF, 1554px 1240px #FFF, 1453px 1632px #FFF, 282px 1257px #FFF, 1896px 58px #FFF, 1834px 623px #FFF, 1062px 1706px #FFF, 373px 1720px #FFF, 468px 1218px #FFF, 634px 534px #FFF, 3px 726px #FFF, 615px 1213px #FFF, 1325px 1351px #FFF, 326px 430px #FFF, 556px 830px #FFF, 1848px 1358px #FFF, 811px 338px #FFF, 366px 1811px #FFF, 1937px 55px #FFF, 1660px 368px #FFF, 206px 1196px #FFF, 1059px 213px #FFF, 699px 1595px #FFF, 1462px 668px #FFF, 1790px 1758px #FFF, 1044px 1024px #FFF, 1527px 1630px #FFF, 1974px 481px #FFF, 1766px 1535px #FFF, 1989px 332px #FFF, 900px 489px #FFF, 1555px 1798px #FFF, 405px 1832px #FFF, 1068px 1904px #FFF, 1566px 284px #FFF, 1304px 242px #FFF, 1982px 1458px #FFF, 1040px 733px #FFF, 1384px 204px #FFF, 189px 822px #FFF, 91px 1440px #FFF, 1379px 970px #FFF, 1946px 498px #FFF, 871px 1768px #FFF, 129px 953px #FFF, 620px 359px #FFF, 292px 263px #FFF, 166px 41px #FFF, 824px 29px #FFF, 219px 1625px #FFF, 564px 1013px #FFF, 248px 1751px #FFF, 176px 693px #FFF, 999px 391px #FFF, 365px 310px #FFF, 813px 777px #FFF, 873px 73px #FFF, 1835px 516px #FFF, 384px 924px #FFF, 1546px 92px #FFF, 194px 1410px #FFF, 715px 1757px #FFF, 1521px 313px #FFF, 1867px 979px #FFF, 531px 1673px #FFF, 1707px 1755px #FFF, 1519px 273px #FFF, 952px 1197px #FFF, 1283px 1141px #FFF, 947px 436px #FFF, 1143px 1402px #FFF, 775px 529px #FFF, 411px 1245px #FFF, 1094px 1464px #FFF, 19px 284px #FFF, 1113px 1270px #FFF, 596px 1837px #FFF, 201px 293px #FFF, 1141px 1593px #FFF, 415px 66px #FFF, 1269px 1776px #FFF, 355px 677px #FFF, 1103px 1171px #FFF, 1052px 1167px #FFF, 1747px 498px #FFF, 357px 1619px #FFF, 699px 538px #FFF, 412px 1662px #FFF, 244px 396px #FFF, 89px 247px #FFF, 303px 618px #FFF, 1745px 917px #FFF, 643px 1293px #FFF, 1017px 1505px #FFF, 1055px 1159px #FFF, 290px 1181px #FFF, 641px 477px #FFF, 1957px 1248px #FFF, 389px 1075px #FFF, 1539px 1617px #FFF, 594px 1915px #FFF, 406px 1439px #FFF, 1927px 1501px #FFF, 717px 1045px #FFF, 806px 1755px #FFF, 1379px 736px #FFF, 85px 87px #FFF, 89px 356px #FFF, 586px 1934px #FFF, 521px 1045px #FFF, 742px 1737px #FFF, 312px 1302px #FFF, 735px 1263px #FFF, 415px 1864px #FFF, 809px 159px #FFF, 1199px 436px #FFF, 58px 1305px #FFF, 971px 444px #FFF, 3px 1376px #FFF, 1885px 1777px #FFF, 1608px 1056px #FFF, 1090px 1156px #FFF, 1943px 1482px #FFF, 758px 951px #FFF, 94px 1448px #FFF, 1285px 1194px #FFF, 537px 604px #FFF, 896px 1150px #FFF, 420px 1412px #FFF, 1926px 914px #FFF, 1800px 324px #FFF, 1118px 289px #FFF, 975px 1580px #FFF, 1034px 1357px #FFF, 777px 334px #FFF, 1612px 464px #FFF, 187px 1526px #FFF, 1878px 1745px #FFF, 873px 824px #FFF, 818px 762px #FFF, 248px 543px #FFF, 1117px 1769px #FFF, 188px 1321px #FFF, 1051px 1810px #FFF, 1871px 1016px #FFF, 1067px 662px #FFF, 270px 1609px #FFF, 258px 737px #FFF, 683px 1177px #FFF, 1371px 45px #FFF, 690px 236px #FFF, 1712px 871px #FFF, 1202px 1196px #FFF, 890px 92px #FFF, 1205px 1483px #FFF, 1882px 1060px #FFF, 554px 926px #FFF, 1967px 134px #FFF, 1486px 157px #FFF, 1044px 1373px #FFF, 1557px 1101px #FFF, 1319px 1638px #FFF, 664px 285px #FFF, 641px 1993px #FFF, 1450px 1786px #FFF, 1416px 1368px #FFF, 143px 472px #FFF, 564px 1842px #FFF, 806px 1054px #FFF, 831px 1062px #FFF, 30px 575px #FFF, 366px 1691px #FFF, 393px 1004px #FFF, 339px 1167px #FFF, 685px 1047px #FFF, 958px 507px #FFF, 1985px 792px #FFF, 1830px 1580px #FFF, 1072px 1338px #FFF, 254px 832px #FFF, 754px 1207px #FFF, 857px 929px #FFF, 1498px 1194px #FFF, 338px 179px #FFF, 829px 1541px #FFF, 413px 468px #FFF, 1487px 36px #FFF, 1486px 508px #FFF, 1467px 356px #FFF, 1938px 49px #FFF, 11px 1484px #FFF, 110px 1180px #FFF, 390px 1961px #FFF, 1312px 437px #FFF, 889px 1162px #FFF, 1435px 1812px #FFF, 501px 477px #FFF, 158px 1938px #FFF, 1578px 358px #FFF, 168px 604px #FFF, 712px 1377px #FFF, 1841px 348px #FFF, 1043px 786px #FFF, 601px 393px #FFF, 1096px 693px #FFF, 403px 730px #FFF, 956px 559px #FFF, 1331px 182px #FFF, 326px 156px #FFF, 1707px 468px #FFF, 588px 1301px #FFF, 715px 1614px #FFF, 1872px 689px #FFF, 37px 183px #FFF, 1021px 1214px #FFF, 231px 644px #FFF, 554px 1285px #FFF, 1750px 422px #FFF, 1305px 1077px #FFF, 1899px 1256px #FFF, 72px 858px #FFF, 1208px 1774px #FFF, 181px 1038px #FFF, 951px 1570px #FFF, 1565px 349px #FFF, 46px 1691px #FFF, 1235px 1003px #FFF, 1351px 121px #FFF, 1444px 1106px #FFF, 2000px 620px #FFF, 1974px 475px #FFF, 1383px 122px #FFF, 707px 1231px #FFF, 67px 619px #FFF, 694px 157px #FFF, 33px 848px #FFF, 1374px 623px #FFF, 907px 597px #FFF, 1983px 328px #FFF, 1162px 1127px #FFF, 826px 849px #FFF, 1304px 447px #FFF, 1726px 1031px #FFF, 1991px 1568px #FFF, 666px 1068px #FFF, 805px 1673px #FFF, 1605px 1749px #FFF, 1631px 411px #FFF, 335px 1565px #FFF, 711px 891px #FFF, 171px 1346px #FFF, 161px 379px #FFF, 113px 725px #FFF, 1671px 259px #FFF, 101px 230px #FFF, 413px 1133px #FFF, 394px 298px #FFF, 393px 1956px #FFF, 285px 1029px #FFF, 51px 899px #FFF, 1515px 107px #FFF, 1823px 1999px #FFF, 1670px 731px #FFF, 968px 817px #FFF, 1791px 1100px #FFF, 1604px 1091px #FFF, 671px 1954px #FFF, 506px 123px #FFF, 433px 48px #FFF, 429px 1458px #FFF, 1683px 840px #FFF, 1423px 946px #FFF, 1550px 397px #FFF, 1882px 549px #FFF, 749px 1435px #FFF, 1964px 1610px #FFF, 897px 884px #FFF, 651px 995px #FFF, 343px 1650px #FFF, 1673px 579px #FFF, 1515px 96px #FFF, 534px 1254px #FFF, 270px 1732px #FFF, 663px 36px #FFF, 1722px 572px #FFF, 1981px 1109px #FFF, 1032px 207px #FFF, 1378px 998px #FFF, 1408px 941px #FFF, 1679px 1311px #FFF, 482px 174px #FFF, 299px 1028px #FFF, 1698px 949px #FFF, 1978px 1878px #FFF, 787px 315px #FFF, 1669px 488px #FFF, 605px 622px #FFF, 13px 1026px #FFF, 1437px 599px #FFF, 617px 316px #FFF, 1676px 1303px #FFF, 536px 1857px #FFF, 1402px 1068px #FFF, 730px 1849px #FFF, 256px 842px #FFF, 1215px 115px #FFF, 718px 1974px #FFF, 1089px 1122px #FFF, 1544px 1270px #FFF, 1500px 921px #FFF, 1531px 372px #FFF, 606px 601px #FFF, 620px 740px #FFF, 643px 117px #FFF, 162px 1437px #FFF, 1201px 1796px #FFF, 38px 274px #FFF, 1640px 1920px #FFF, 482px 648px #FFF, 1003px 1393px #FFF, 1470px 422px #FFF, 865px 500px #FFF, 1656px 359px #FFF, 344px 1406px #FFF, 601px 1063px #FFF, 1763px 987px #FFF, 282px 1798px #FFF, 567px 991px #FFF, 420px 736px #FFF, 356px 1625px #FFF, 1026px 1817px #FFF, 482px 573px #FFF, 670px 1935px #FFF, 1728px 1852px #FFF, 251px 1943px #FFF, 475px 285px #FFF, 25px 89px #FFF, 176px 1149px #FFF, 941px 1854px #FFF, 399px 956px #FFF, 409px 240px #FFF, 1977px 1640px #FFF, 1725px 725px #FFF, 90px 1735px #FFF, 58px 1687px #FFF, 1369px 1169px #FFF, 201px 304px #FFF, 242px 1007px #FFF, 699px 1107px #FFF, 1367px 1522px #FFF, 494px 948px #FFF, 319px 1871px #FFF, 298px 1655px #FFF, 1734px 1531px #FFF, 793px 1518px #FFF, 68px 1166px #FFF, 1529px 407px #FFF, 1764px 1776px #FFF, 1379px 162px #FFF, 1179px 350px #FFF, 707px 1311px #FFF, 1191px 1344px #FFF, 509px 117px #FFF, 663px 1010px #FFF, 1114px 898px #FFF, 221px 401px #FFF, 838px 170px #FFF, 1676px 278px #FFF, 773px 1306px #FFF, 67px 518px #FFF, 829px 1777px #FFF, 943px 463px #FFF, 82px 152px #FFF, 530px 553px #FFF, 428px 1062px #FFF, 185px 1847px #FFF, 277px 1826px #FFF, 1059px 1670px #FFF, 218px 1534px #FFF, 396px 1010px #FFF, 722px 493px #FFF, 1537px 876px #FFF, 562px 1512px #FFF;
 box-shadow:360px 940px #FFF, 1429px 497px #FFF, 1964px 1447px #FFF, 648px 1754px #FFF, 1612px 1105px #FFF, 93px 529px #FFF, 1673px 674px #FFF, 1501px 1778px #FFF, 1975px 1410px #FFF, 582px 1762px #FFF, 909px 1108px #FFF, 1566px 471px #FFF, 849px 83px #FFF, 1786px 935px #FFF, 105px 1321px #FFF, 122px 1118px #FFF, 445px 1809px #FFF, 435px 543px #FFF, 518px 495px #FFF, 336px 1800px #FFF, 934px 1819px #FFF, 1176px 1910px #FFF, 1142px 1026px #FFF, 513px 1443px #FFF, 1187px 732px #FFF, 1551px 145px #FFF, 1242px 1112px #FFF, 1611px 786px #FFF, 135px 1054px #FFF, 1418px 1335px #FFF, 75px 944px #FFF, 701px 1198px #FFF, 821px 1386px #FFF, 682px 1010px #FFF, 511px 1266px #FFF, 337px 852px #FFF, 1202px 1706px #FFF, 755px 1841px #FFF, 1772px 230px #FFF, 1754px 97px #FFF, 435px 199px #FFF, 1333px 134px #FFF, 977px 194px #FFF, 669px 921px #FFF, 1639px 360px #FFF, 678px 1838px #FFF, 860px 812px #FFF, 1271px 342px #FFF, 1018px 692px #FFF, 1017px 498px #FFF, 1986px 1982px #FFF, 1189px 1202px #FFF, 366px 1699px #FFF, 821px 1963px #FFF, 516px 783px #FFF, 1545px 732px #FFF, 1114px 1076px #FFF, 543px 973px #FFF, 1169px 653px #FFF, 99px 1180px #FFF, 1383px 1000px #FFF, 1653px 724px #FFF, 1948px 1911px #FFF, 1402px 525px #FFF, 1080px 1283px #FFF, 50px 101px #FFF, 329px 228px #FFF, 700px 694px #FFF, 390px 704px #FFF, 167px 1163px #FFF, 262px 1696px #FFF, 1888px 31px #FFF, 460px 1123px #FFF, 1764px 1839px #FFF, 31px 320px #FFF, 1513px 598px #FFF, 1922px 8px #FFF, 290px 711px #FFF, 787px 1136px #FFF, 1485px 1119px #FFF, 905px 93px #FFF, 276px 418px #FFF, 105px 18px #FFF, 1760px 1809px #FFF, 1393px 1468px #FFF, 145px 1360px #FFF, 1039px 633px #FFF, 1203px 1865px #FFF, 237px 300px #FFF, 1050px 1969px #FFF, 1011px 399px #FFF, 1235px 1940px #FFF, 1897px 1757px #FFF, 158px 336px #FFF, 1875px 339px #FFF, 1038px 877px #FFF, 440px 801px #FFF, 1433px 576px #FFF, 44px 200px #FFF, 834px 590px #FFF, 738px 244px #FFF, 1288px 108px #FFF, 1367px 14px #FFF, 475px 1291px #FFF, 1176px 1995px #FFF, 1168px 994px #FFF, 650px 1637px #FFF, 1175px 1216px #FFF, 992px 1792px #FFF, 406px 337px #FFF, 1719px 219px #FFF, 1048px 826px #FFF, 1451px 1187px #FFF, 1056px 1145px #FFF, 550px 1918px #FFF, 1605px 784px #FFF, 852px 1063px #FFF, 1656px 960px #FFF, 1147px 1590px #FFF, 284px 306px #FFF, 1129px 299px #FFF, 300px 554px #FFF, 584px 134px #FFF, 582px 1683px #FFF, 1458px 1256px #FFF, 1391px 1678px #FFF, 1570px 1885px #FFF, 1884px 1717px #FFF, 619px 1983px #FFF, 185px 999px #FFF, 730px 1447px #FFF, 428px 303px #FFF, 114px 1386px #FFF, 596px 1557px #FFF, 965px 436px #FFF, 1553px 570px #FFF, 232px 650px #FFF, 1318px 893px #FFF, 493px 857px #FFF, 754px 446px #FFF, 843px 441px #FFF, 966px 983px #FFF, 67px 588px #FFF, 1735px 1693px #FFF, 902px 1930px #FFF, 538px 265px #FFF, 481px 324px #FFF, 227px 1188px #FFF, 355px 1807px #FFF, 1678px 1915px #FFF, 494px 20px #FFF, 386px 1355px #FFF, 890px 1999px #FFF, 1679px 1609px #FFF, 1592px 175px #FFF, 206px 1756px #FFF, 1978px 1668px #FFF, 810px 627px #FFF, 1573px 1250px #FFF, 1296px 1003px #FFF, 817px 1025px #FFF, 1970px 1179px #FFF, 1946px 634px #FFF, 628px 192px #FFF, 321px 1081px #FFF, 124px 364px #FFF, 1007px 1688px #FFF, 592px 768px #FFF, 123px 1645px #FFF, 1576px 183px #FFF, 908px 1042px #FFF, 536px 1640px #FFF, 88px 838px #FFF, 1914px 740px #FFF, 823px 1355px #FFF, 956px 401px #FFF, 434px 1603px #FFF, 1651px 1290px #FFF, 362px 1791px #FFF, 1971px 1930px #FFF, 503px 1803px #FFF, 1306px 998px #FFF, 1592px 1926px #FFF, 1413px 99px #FFF, 1651px 688px #FFF, 1532px 1260px #FFF, 1544px 1093px #FFF, 1011px 282px #FFF, 1779px 1455px #FFF, 218px 1616px #FFF, 1823px 8px #FFF, 1045px 1841px #FFF, 611px 665px #FFF, 552px 1808px #FFF, 485px 485px #FFF, 815px 750px #FFF, 1504px 29px #FFF, 93px 1728px #FFF, 1374px 512px #FFF, 567px 1166px #FFF, 912px 131px #FFF, 1896px 1229px #FFF, 857px 1337px #FFF, 433px 1556px #FFF, 765px 727px #FFF, 477px 487px #FFF, 1506px 430px #FFF, 762px 1689px #FFF, 723px 1844px #FFF, 448px 1568px #FFF, 669px 1049px #FFF, 1303px 1537px #FFF, 1978px 10px #FFF, 873px 1994px #FFF, 569px 970px #FFF, 1074px 1558px #FFF, 1460px 604px #FFF, 1920px 87px #FFF, 592px 1059px #FFF, 1664px 888px #FFF, 727px 309px #FFF, 1477px 617px #FFF, 63px 891px #FFF, 950px 519px #FFF, 1266px 282px #FFF, 1194px 1175px #FFF, 1371px 317px #FFF, 1676px 1419px #FFF, 1504px 1804px #FFF, 413px 517px #FFF, 1030px 1143px #FFF, 1475px 1155px #FFF, 1392px 926px #FFF, 982px 1704px #FFF, 757px 1960px #FFF, 1934px 207px #FFF, 1295px 1787px #FFF, 527px 1443px #FFF, 753px 1982px #FFF, 177px 1705px #FFF, 1328px 281px #FFF, 1292px 624px #FFF, 354px 1729px #FFF, 1325px 581px #FFF, 881px 1368px #FFF, 438px 921px #FFF, 623px 636px #FFF, 1581px 328px #FFF, 1031px 1354px #FFF, 859px 467px #FFF, 1814px 1192px #FFF, 180px 1657px #FFF, 1461px 1507px #FFF, 679px 955px #FFF, 41px 1604px #FFF, 743px 51px #FFF, 15px 890px #FFF, 1136px 1259px #FFF, 1382px 1905px #FFF, 1642px 747px #FFF, 1244px 1448px #FFF, 932px 1188px #FFF, 987px 1127px #FFF, 1359px 300px #FFF, 922px 1830px #FFF, 1206px 1819px #FFF, 736px 494px #FFF, 144px 1541px #FFF, 1666px 1041px #FFF, 1976px 105px #FFF, 1504px 1125px #FFF, 1560px 787px #FFF, 573px 1023px #FFF, 1584px 676px #FFF, 1700px 195px #FFF, 1076px 1406px #FFF, 377px 1921px #FFF, 1321px 1636px #FFF, 1090px 75px #FFF, 1330px 192px #FFF, 1541px 1250px #FFF, 1722px 571px #FFF, 930px 831px #FFF, 1882px 1237px #FFF, 1389px 1639px #FFF, 595px 858px #FFF, 1547px 405px #FFF, 1798px 110px #FFF, 1183px 682px #FFF, 496px 1152px #FFF, 910px 439px #FFF, 860px 823px #FFF, 855px 933px #FFF, 1102px 1914px #FFF, 346px 569px #FFF, 1007px 722px #FFF, 362px 1751px #FFF, 1190px 1127px #FFF, 1601px 1624px #FFF, 1815px 1537px #FFF, 4px 1842px #FFF, 1741px 1614px #FFF, 842px 1982px #FFF, 1082px 1819px #FFF, 754px 1396px #FFF, 1925px 1390px #FFF, 1271px 1407px #FFF, 397px 998px #FFF, 978px 1408px #FFF, 52px 1358px #FFF, 533px 1177px #FFF, 771px 1160px #FFF, 327px 1584px #FFF, 1834px 1654px #FFF, 1348px 1304px #FFF, 463px 1597px #FFF, 511px 1253px #FFF, 1003px 952px #FFF, 1554px 1240px #FFF, 1453px 1632px #FFF, 282px 1257px #FFF, 1896px 58px #FFF, 1834px 623px #FFF, 1062px 1706px #FFF, 373px 1720px #FFF, 468px 1218px #FFF, 634px 534px #FFF, 3px 726px #FFF, 615px 1213px #FFF, 1325px 1351px #FFF, 326px 430px #FFF, 556px 830px #FFF, 1848px 1358px #FFF, 811px 338px #FFF, 366px 1811px #FFF, 1937px 55px #FFF, 1660px 368px #FFF, 206px 1196px #FFF, 1059px 213px #FFF, 699px 1595px #FFF, 1462px 668px #FFF, 1790px 1758px #FFF, 1044px 1024px #FFF, 1527px 1630px #FFF, 1974px 481px #FFF, 1766px 1535px #FFF, 1989px 332px #FFF, 900px 489px #FFF, 1555px 1798px #FFF, 405px 1832px #FFF, 1068px 1904px #FFF, 1566px 284px #FFF, 1304px 242px #FFF, 1982px 1458px #FFF, 1040px 733px #FFF, 1384px 204px #FFF, 189px 822px #FFF, 91px 1440px #FFF, 1379px 970px #FFF, 1946px 498px #FFF, 871px 1768px #FFF, 129px 953px #FFF, 620px 359px #FFF, 292px 263px #FFF, 166px 41px #FFF, 824px 29px #FFF, 219px 1625px #FFF, 564px 1013px #FFF, 248px 1751px #FFF, 176px 693px #FFF, 999px 391px #FFF, 365px 310px #FFF, 813px 777px #FFF, 873px 73px #FFF, 1835px 516px #FFF, 384px 924px #FFF, 1546px 92px #FFF, 194px 1410px #FFF, 715px 1757px #FFF, 1521px 313px #FFF, 1867px 979px #FFF, 531px 1673px #FFF, 1707px 1755px #FFF, 1519px 273px #FFF, 952px 1197px #FFF, 1283px 1141px #FFF, 947px 436px #FFF, 1143px 1402px #FFF, 775px 529px #FFF, 411px 1245px #FFF, 1094px 1464px #FFF, 19px 284px #FFF, 1113px 1270px #FFF, 596px 1837px #FFF, 201px 293px #FFF, 1141px 1593px #FFF, 415px 66px #FFF, 1269px 1776px #FFF, 355px 677px #FFF, 1103px 1171px #FFF, 1052px 1167px #FFF, 1747px 498px #FFF, 357px 1619px #FFF, 699px 538px #FFF, 412px 1662px #FFF, 244px 396px #FFF, 89px 247px #FFF, 303px 618px #FFF, 1745px 917px #FFF, 643px 1293px #FFF, 1017px 1505px #FFF, 1055px 1159px #FFF, 290px 1181px #FFF, 641px 477px #FFF, 1957px 1248px #FFF, 389px 1075px #FFF, 1539px 1617px #FFF, 594px 1915px #FFF, 406px 1439px #FFF, 1927px 1501px #FFF, 717px 1045px #FFF, 806px 1755px #FFF, 1379px 736px #FFF, 85px 87px #FFF, 89px 356px #FFF, 586px 1934px #FFF, 521px 1045px #FFF, 742px 1737px #FFF, 312px 1302px #FFF, 735px 1263px #FFF, 415px 1864px #FFF, 809px 159px #FFF, 1199px 436px #FFF, 58px 1305px #FFF, 971px 444px #FFF, 3px 1376px #FFF, 1885px 1777px #FFF, 1608px 1056px #FFF, 1090px 1156px #FFF, 1943px 1482px #FFF, 758px 951px #FFF, 94px 1448px #FFF, 1285px 1194px #FFF, 537px 604px #FFF, 896px 1150px #FFF, 420px 1412px #FFF, 1926px 914px #FFF, 1800px 324px #FFF, 1118px 289px #FFF, 975px 1580px #FFF, 1034px 1357px #FFF, 777px 334px #FFF, 1612px 464px #FFF, 187px 1526px #FFF, 1878px 1745px #FFF, 873px 824px #FFF, 818px 762px #FFF, 248px 543px #FFF, 1117px 1769px #FFF, 188px 1321px #FFF, 1051px 1810px #FFF, 1871px 1016px #FFF, 1067px 662px #FFF, 270px 1609px #FFF, 258px 737px #FFF, 683px 1177px #FFF, 1371px 45px #FFF, 690px 236px #FFF, 1712px 871px #FFF, 1202px 1196px #FFF, 890px 92px #FFF, 1205px 1483px #FFF, 1882px 1060px #FFF, 554px 926px #FFF, 1967px 134px #FFF, 1486px 157px #FFF, 1044px 1373px #FFF, 1557px 1101px #FFF, 1319px 1638px #FFF, 664px 285px #FFF, 641px 1993px #FFF, 1450px 1786px #FFF, 1416px 1368px #FFF, 143px 472px #FFF, 564px 1842px #FFF, 806px 1054px #FFF, 831px 1062px #FFF, 30px 575px #FFF, 366px 1691px #FFF, 393px 1004px #FFF, 339px 1167px #FFF, 685px 1047px #FFF, 958px 507px #FFF, 1985px 792px #FFF, 1830px 1580px #FFF, 1072px 1338px #FFF, 254px 832px #FFF, 754px 1207px #FFF, 857px 929px #FFF, 1498px 1194px #FFF, 338px 179px #FFF, 829px 1541px #FFF, 413px 468px #FFF, 1487px 36px #FFF, 1486px 508px #FFF, 1467px 356px #FFF, 1938px 49px #FFF, 11px 1484px #FFF, 110px 1180px #FFF, 390px 1961px #FFF, 1312px 437px #FFF, 889px 1162px #FFF, 1435px 1812px #FFF, 501px 477px #FFF, 158px 1938px #FFF, 1578px 358px #FFF, 168px 604px #FFF, 712px 1377px #FFF, 1841px 348px #FFF, 1043px 786px #FFF, 601px 393px #FFF, 1096px 693px #FFF, 403px 730px #FFF, 956px 559px #FFF, 1331px 182px #FFF, 326px 156px #FFF, 1707px 468px #FFF, 588px 1301px #FFF, 715px 1614px #FFF, 1872px 689px #FFF, 37px 183px #FFF, 1021px 1214px #FFF, 231px 644px #FFF, 554px 1285px #FFF, 1750px 422px #FFF, 1305px 1077px #FFF, 1899px 1256px #FFF, 72px 858px #FFF, 1208px 1774px #FFF, 181px 1038px #FFF, 951px 1570px #FFF, 1565px 349px #FFF, 46px 1691px #FFF, 1235px 1003px #FFF, 1351px 121px #FFF, 1444px 1106px #FFF, 2000px 620px #FFF, 1974px 475px #FFF, 1383px 122px #FFF, 707px 1231px #FFF, 67px 619px #FFF, 694px 157px #FFF, 33px 848px #FFF, 1374px 623px #FFF, 907px 597px #FFF, 1983px 328px #FFF, 1162px 1127px #FFF, 826px 849px #FFF, 1304px 447px #FFF, 1726px 1031px #FFF, 1991px 1568px #FFF, 666px 1068px #FFF, 805px 1673px #FFF, 1605px 1749px #FFF, 1631px 411px #FFF, 335px 1565px #FFF, 711px 891px #FFF, 171px 1346px #FFF, 161px 379px #FFF, 113px 725px #FFF, 1671px 259px #FFF, 101px 230px #FFF, 413px 1133px #FFF, 394px 298px #FFF, 393px 1956px #FFF, 285px 1029px #FFF, 51px 899px #FFF, 1515px 107px #FFF, 1823px 1999px #FFF, 1670px 731px #FFF, 968px 817px #FFF, 1791px 1100px #FFF, 1604px 1091px #FFF, 671px 1954px #FFF, 506px 123px #FFF, 433px 48px #FFF, 429px 1458px #FFF, 1683px 840px #FFF, 1423px 946px #FFF, 1550px 397px #FFF, 1882px 549px #FFF, 749px 1435px #FFF, 1964px 1610px #FFF, 897px 884px #FFF, 651px 995px #FFF, 343px 1650px #FFF, 1673px 579px #FFF, 1515px 96px #FFF, 534px 1254px #FFF, 270px 1732px #FFF, 663px 36px #FFF, 1722px 572px #FFF, 1981px 1109px #FFF, 1032px 207px #FFF, 1378px 998px #FFF, 1408px 941px #FFF, 1679px 1311px #FFF, 482px 174px #FFF, 299px 1028px #FFF, 1698px 949px #FFF, 1978px 1878px #FFF, 787px 315px #FFF, 1669px 488px #FFF, 605px 622px #FFF, 13px 1026px #FFF, 1437px 599px #FFF, 617px 316px #FFF, 1676px 1303px #FFF, 536px 1857px #FFF, 1402px 1068px #FFF, 730px 1849px #FFF, 256px 842px #FFF, 1215px 115px #FFF, 718px 1974px #FFF, 1089px 1122px #FFF, 1544px 1270px #FFF, 1500px 921px #FFF, 1531px 372px #FFF, 606px 601px #FFF, 620px 740px #FFF, 643px 117px #FFF, 162px 1437px #FFF, 1201px 1796px #FFF, 38px 274px #FFF, 1640px 1920px #FFF, 482px 648px #FFF, 1003px 1393px #FFF, 1470px 422px #FFF, 865px 500px #FFF, 1656px 359px #FFF, 344px 1406px #FFF, 601px 1063px #FFF, 1763px 987px #FFF, 282px 1798px #FFF, 567px 991px #FFF, 420px 736px #FFF, 356px 1625px #FFF, 1026px 1817px #FFF, 482px 573px #FFF, 670px 1935px #FFF, 1728px 1852px #FFF, 251px 1943px #FFF, 475px 285px #FFF, 25px 89px #FFF, 176px 1149px #FFF, 941px 1854px #FFF, 399px 956px #FFF, 409px 240px #FFF, 1977px 1640px #FFF, 1725px 725px #FFF, 90px 1735px #FFF, 58px 1687px #FFF, 1369px 1169px #FFF, 201px 304px #FFF, 242px 1007px #FFF, 699px 1107px #FFF, 1367px 1522px #FFF, 494px 948px #FFF, 319px 1871px #FFF, 298px 1655px #FFF, 1734px 1531px #FFF, 793px 1518px #FFF, 68px 1166px #FFF, 1529px 407px #FFF, 1764px 1776px #FFF, 1379px 162px #FFF, 1179px 350px #FFF, 707px 1311px #FFF, 1191px 1344px #FFF, 509px 117px #FFF, 663px 1010px #FFF, 1114px 898px #FFF, 221px 401px #FFF, 838px 170px #FFF, 1676px 278px #FFF, 773px 1306px #FFF, 67px 518px #FFF, 829px 1777px #FFF, 943px 463px #FFF, 82px 152px #FFF, 530px 553px #FFF, 428px 1062px #FFF, 185px 1847px #FFF, 277px 1826px #FFF, 1059px 1670px #FFF, 218px 1534px #FFF, 396px 1010px #FFF, 722px 493px #FFF, 1537px 876px #FFF, 562px 1512px #FFF
}
.background .stars.medium {
 width:3px;
 height:3px;
 -webkit-box-shadow:597px 752px #FFF , 1807px 798px #FFF , 1637px 1049px #FFF , 1977px 1354px #FFF , 1532px 148px #FFF , 1275px 1120px #FFF , 64px 1387px #FFF , 1428px 1351px #FFF , 1819px 863px #FFF , 509px 1090px #FFF , 1596px 508px #FFF , 789px 568px #FFF , 404px 1897px #FFF , 576px 476px #FFF , 778px 1305px #FFF , 584px 1831px #FFF , 1929px 1997px #FFF , 119px 1292px #FFF , 217px 1998px #FFF , 1835px 503px #FFF , 821px 1071px #FFF , 1447px 228px #FFF , 533px 1324px #FFF , 1708px 1577px #FFF , 430px 1367px #FFF , 1155px 1955px #FFF , 579px 680px #FFF , 693px 998px #FFF , 353px 1024px #FFF , 62px 275px #FFF , 650px 372px #FFF , 741px 1818px #FFF , 757px 34px #FFF , 221px 425px #FFF , 1169px 1901px #FFF , 531px 486px #FFF , 1028px 1642px #FFF , 322px 1808px #FFF , 1806px 1469px #FFF , 1908px 1340px #FFF , 1593px 1051px #FFF , 255px 402px #FFF , 23px 307px #FFF , 665px 559px #FFF , 1970px 1120px #FFF , 1436px 1251px #FFF , 730px 829px #FFF , 146px 650px #FFF , 1831px 480px #FFF , 1800px 371px #FFF , 766px 550px #FFF , 1726px 1896px #FFF , 161px 1738px #FFF , 700px 379px #FFF , 628px 314px #FFF , 1208px 1713px #FFF , 1437px 566px #FFF , 1887px 1720px #FFF , 1392px 1485px #FFF , 983px 1233px #FFF , 1640px 807px #FFF , 1569px 728px #FFF , 890px 1050px #FFF , 438px 1558px #FFF , 1016px 629px #FFF , 1177px 1329px #FFF , 1069px 194px #FFF , 311px 1727px #FFF , 387px 1669px #FFF , 135px 1163px #FFF , 1440px 1420px #FFF , 1865px 1677px #FFF , 1718px 481px #FFF , 336px 1549px #FFF , 690px 64px #FFF , 1297px 195px #FFF , 210px 1233px #FFF , 1675px 1145px #FFF , 1646px 484px #FFF , 858px 843px #FFF , 1587px 308px #FFF , 796px 572px #FFF , 1344px 1464px #FFF , 965px 884px #FFF , 876px 237px #FFF , 1538px 105px #FFF , 925px 264px #FFF , 1282px 471px #FFF , 1341px 543px #FFF , 1147px 922px #FFF , 515px 256px #FFF , 633px 1226px #FFF , 1721px 959px #FFF , 1371px 173px #FFF , 1851px 628px #FFF , 740px 1045px #FFF , 1728px 207px #FFF , 699px 376px #FFF , 12px 1928px #FFF , 546px 1472px #FFF , 679px 1058px #FFF , 1358px 28px #FFF , 468px 1601px #FFF , 979px 1709px #FFF , 948px 443px #FFF , 1503px 563px #FFF , 1862px 1853px #FFF , 1804px 1386px #FFF , 826px 1452px #FFF , 1844px 886px #FFF , 729px 463px #FFF , 362px 1670px #FFF , 336px 1653px #FFF , 862px 444px #FFF , 314px 1105px #FFF , 1358px 1418px #FFF , 807px 1348px #FFF , 803px 16px #FFF , 1063px 1393px #FFF , 1094px 1594px #FFF , 1613px 938px #FFF , 1677px 650px #FFF , 1196px 1465px #FFF , 199px 413px #FFF , 1174px 1381px #FFF , 510px 774px #FFF , 1245px 597px #FFF , 1797px 1040px #FFF , 767px 1091px #FFF , 1146px 428px #FFF , 295px 45px #FFF , 255px 865px #FFF , 125px 1325px #FFF , 468px 1786px #FFF , 1917px 1952px #FFF , 675px 250px #FFF , 1345px 1789px #FFF , 536px 1598px #FFF , 528px 1066px #FFF , 1688px 12px #FFF , 844px 289px #FFF , 330px 189px #FFF , 970px 851px #FFF , 428px 963px #FFF , 190px 711px #FFF , 1136px 929px #FFF , 1711px 431px #FFF , 1499px 1532px #FFF , 7px 1326px #FFF , 422px 450px #FFF , 1618px 1535px #FFF , 451px 1901px #FFF , 1052px 1381px #FFF , 686px 1331px #FFF , 789px 250px #FFF , 534px 1145px #FFF , 219px 1302px #FFF , 430px 876px #FFF , 1321px 1852px #FFF , 1656px 997px #FFF , 394px 1037px #FFF , 237px 424px #FFF , 1312px 1112px #FFF , 13px 242px #FFF , 112px 373px #FFF , 362px 620px #FFF , 261px 707px #FFF , 958px 1359px #FFF , 1220px 754px #FFF , 1706px 1626px #FFF , 1533px 1140px #FFF , 1945px 1038px #FFF , 509px 1604px #FFF , 315px 1308px #FFF , 800px 1684px #FFF , 83px 1163px #FFF , 266px 159px #FFF , 270px 1889px #FFF , 1050px 691px #FFF , 1739px 626px #FFF , 179px 1307px #FFF , 853px 1753px #FFF , 538px 1508px #FFF , 35px 947px #FFF , 1672px 1912px #FFF , 1725px 837px #FFF , 764px 1453px #FFF , 1254px 913px #FFF , 275px 1290px #FFF , 1823px 372px #FFF , 226px 1614px #FFF , 624px 505px #FFF , 875px 1619px #FFF , 911px 1087px #FFF , 1799px 1852px #FFF , 1015px 187px #FFF , 1102px 77px #FFF , 1834px 1220px #FFF , 1540px 767px #FFF , 423px 1091px #FFF;
 box-shadow:597px 752px #FFF , 1807px 798px #FFF , 1637px 1049px #FFF , 1977px 1354px #FFF , 1532px 148px #FFF , 1275px 1120px #FFF , 64px 1387px #FFF , 1428px 1351px #FFF , 1819px 863px #FFF , 509px 1090px #FFF , 1596px 508px #FFF , 789px 568px #FFF , 404px 1897px #FFF , 576px 476px #FFF , 778px 1305px #FFF , 584px 1831px #FFF , 1929px 1997px #FFF , 119px 1292px #FFF , 217px 1998px #FFF , 1835px 503px #FFF , 821px 1071px #FFF , 1447px 228px #FFF , 533px 1324px #FFF , 1708px 1577px #FFF , 430px 1367px #FFF , 1155px 1955px #FFF , 579px 680px #FFF , 693px 998px #FFF , 353px 1024px #FFF , 62px 275px #FFF , 650px 372px #FFF , 741px 1818px #FFF , 757px 34px #FFF , 221px 425px #FFF , 1169px 1901px #FFF , 531px 486px #FFF , 1028px 1642px #FFF , 322px 1808px #FFF , 1806px 1469px #FFF , 1908px 1340px #FFF , 1593px 1051px #FFF , 255px 402px #FFF , 23px 307px #FFF , 665px 559px #FFF , 1970px 1120px #FFF , 1436px 1251px #FFF , 730px 829px #FFF , 146px 650px #FFF , 1831px 480px #FFF , 1800px 371px #FFF , 766px 550px #FFF , 1726px 1896px #FFF , 161px 1738px #FFF , 700px 379px #FFF , 628px 314px #FFF , 1208px 1713px #FFF , 1437px 566px #FFF , 1887px 1720px #FFF , 1392px 1485px #FFF , 983px 1233px #FFF , 1640px 807px #FFF , 1569px 728px #FFF , 890px 1050px #FFF , 438px 1558px #FFF , 1016px 629px #FFF , 1177px 1329px #FFF , 1069px 194px #FFF , 311px 1727px #FFF , 387px 1669px #FFF , 135px 1163px #FFF , 1440px 1420px #FFF , 1865px 1677px #FFF , 1718px 481px #FFF , 336px 1549px #FFF , 690px 64px #FFF , 1297px 195px #FFF , 210px 1233px #FFF , 1675px 1145px #FFF , 1646px 484px #FFF , 858px 843px #FFF , 1587px 308px #FFF , 796px 572px #FFF , 1344px 1464px #FFF , 965px 884px #FFF , 876px 237px #FFF , 1538px 105px #FFF , 925px 264px #FFF , 1282px 471px #FFF , 1341px 543px #FFF , 1147px 922px #FFF , 515px 256px #FFF , 633px 1226px #FFF , 1721px 959px #FFF , 1371px 173px #FFF , 1851px 628px #FFF , 740px 1045px #FFF , 1728px 207px #FFF , 699px 376px #FFF , 12px 1928px #FFF , 546px 1472px #FFF , 679px 1058px #FFF , 1358px 28px #FFF , 468px 1601px #FFF , 979px 1709px #FFF , 948px 443px #FFF , 1503px 563px #FFF , 1862px 1853px #FFF , 1804px 1386px #FFF , 826px 1452px #FFF , 1844px 886px #FFF , 729px 463px #FFF , 362px 1670px #FFF , 336px 1653px #FFF , 862px 444px #FFF , 314px 1105px #FFF , 1358px 1418px #FFF , 807px 1348px #FFF , 803px 16px #FFF , 1063px 1393px #FFF , 1094px 1594px #FFF , 1613px 938px #FFF , 1677px 650px #FFF , 1196px 1465px #FFF , 199px 413px #FFF , 1174px 1381px #FFF , 510px 774px #FFF , 1245px 597px #FFF , 1797px 1040px #FFF , 767px 1091px #FFF , 1146px 428px #FFF , 295px 45px #FFF , 255px 865px #FFF , 125px 1325px #FFF , 468px 1786px #FFF , 1917px 1952px #FFF , 675px 250px #FFF , 1345px 1789px #FFF , 536px 1598px #FFF , 528px 1066px #FFF , 1688px 12px #FFF , 844px 289px #FFF , 330px 189px #FFF , 970px 851px #FFF , 428px 963px #FFF , 190px 711px #FFF , 1136px 929px #FFF , 1711px 431px #FFF , 1499px 1532px #FFF , 7px 1326px #FFF , 422px 450px #FFF , 1618px 1535px #FFF , 451px 1901px #FFF , 1052px 1381px #FFF , 686px 1331px #FFF , 789px 250px #FFF , 534px 1145px #FFF , 219px 1302px #FFF , 430px 876px #FFF , 1321px 1852px #FFF , 1656px 997px #FFF , 394px 1037px #FFF , 237px 424px #FFF , 1312px 1112px #FFF , 13px 242px #FFF , 112px 373px #FFF , 362px 620px #FFF , 261px 707px #FFF , 958px 1359px #FFF , 1220px 754px #FFF , 1706px 1626px #FFF , 1533px 1140px #FFF , 1945px 1038px #FFF , 509px 1604px #FFF , 315px 1308px #FFF , 800px 1684px #FFF , 83px 1163px #FFF , 266px 159px #FFF , 270px 1889px #FFF , 1050px 691px #FFF , 1739px 626px #FFF , 179px 1307px #FFF , 853px 1753px #FFF , 538px 1508px #FFF , 35px 947px #FFF , 1672px 1912px #FFF , 1725px 837px #FFF , 764px 1453px #FFF , 1254px 913px #FFF , 275px 1290px #FFF , 1823px 372px #FFF , 226px 1614px #FFF , 624px 505px #FFF , 875px 1619px #FFF , 911px 1087px #FFF , 1799px 1852px #FFF , 1015px 187px #FFF , 1102px 77px #FFF , 1834px 1220px #FFF , 1540px 767px #FFF , 423px 1091px #FFF;
 -webkit-animation:starsUp 100s linear infinite;
 animation:starsUp 100s linear infinite
}
.background .stars.medium:after {
 width:3px;
 height:3px;
 -webkit-box-shadow:597px 752px #FFF, 1807px 798px #FFF, 1637px 1049px #FFF, 1977px 1354px #FFF, 1532px 148px #FFF, 1275px 1120px #FFF, 64px 1387px #FFF, 1428px 1351px #FFF, 1819px 863px #FFF, 509px 1090px #FFF, 1596px 508px #FFF, 789px 568px #FFF, 404px 1897px #FFF, 576px 476px #FFF, 778px 1305px #FFF, 584px 1831px #FFF, 1929px 1997px #FFF, 119px 1292px #FFF, 217px 1998px #FFF, 1835px 503px #FFF, 821px 1071px #FFF, 1447px 228px #FFF, 533px 1324px #FFF, 1708px 1577px #FFF, 430px 1367px #FFF, 1155px 1955px #FFF, 579px 680px #FFF, 693px 998px #FFF, 353px 1024px #FFF, 62px 275px #FFF, 650px 372px #FFF, 741px 1818px #FFF, 757px 34px #FFF, 221px 425px #FFF, 1169px 1901px #FFF, 531px 486px #FFF, 1028px 1642px #FFF, 322px 1808px #FFF, 1806px 1469px #FFF, 1908px 1340px #FFF, 1593px 1051px #FFF, 255px 402px #FFF, 23px 307px #FFF, 665px 559px #FFF, 1970px 1120px #FFF, 1436px 1251px #FFF, 730px 829px #FFF, 146px 650px #FFF, 1831px 480px #FFF, 1800px 371px #FFF, 766px 550px #FFF, 1726px 1896px #FFF, 161px 1738px #FFF, 700px 379px #FFF, 628px 314px #FFF, 1208px 1713px #FFF, 1437px 566px #FFF, 1887px 1720px #FFF, 1392px 1485px #FFF, 983px 1233px #FFF, 1640px 807px #FFF, 1569px 728px #FFF, 890px 1050px #FFF, 438px 1558px #FFF, 1016px 629px #FFF, 1177px 1329px #FFF, 1069px 194px #FFF, 311px 1727px #FFF, 387px 1669px #FFF, 135px 1163px #FFF, 1440px 1420px #FFF, 1865px 1677px #FFF, 1718px 481px #FFF, 336px 1549px #FFF, 690px 64px #FFF, 1297px 195px #FFF, 210px 1233px #FFF, 1675px 1145px #FFF, 1646px 484px #FFF, 858px 843px #FFF, 1587px 308px #FFF, 796px 572px #FFF, 1344px 1464px #FFF, 965px 884px #FFF, 876px 237px #FFF, 1538px 105px #FFF, 925px 264px #FFF, 1282px 471px #FFF, 1341px 543px #FFF, 1147px 922px #FFF, 515px 256px #FFF, 633px 1226px #FFF, 1721px 959px #FFF, 1371px 173px #FFF, 1851px 628px #FFF, 740px 1045px #FFF, 1728px 207px #FFF, 699px 376px #FFF, 12px 1928px #FFF, 546px 1472px #FFF, 679px 1058px #FFF, 1358px 28px #FFF, 468px 1601px #FFF, 979px 1709px #FFF, 948px 443px #FFF, 1503px 563px #FFF, 1862px 1853px #FFF, 1804px 1386px #FFF, 826px 1452px #FFF, 1844px 886px #FFF, 729px 463px #FFF, 362px 1670px #FFF, 336px 1653px #FFF, 862px 444px #FFF, 314px 1105px #FFF, 1358px 1418px #FFF, 807px 1348px #FFF, 803px 16px #FFF, 1063px 1393px #FFF, 1094px 1594px #FFF, 1613px 938px #FFF, 1677px 650px #FFF, 1196px 1465px #FFF, 199px 413px #FFF, 1174px 1381px #FFF, 510px 774px #FFF, 1245px 597px #FFF, 1797px 1040px #FFF, 767px 1091px #FFF, 1146px 428px #FFF, 295px 45px #FFF, 255px 865px #FFF, 125px 1325px #FFF, 468px 1786px #FFF, 1917px 1952px #FFF, 675px 250px #FFF, 1345px 1789px #FFF, 536px 1598px #FFF, 528px 1066px #FFF, 1688px 12px #FFF, 844px 289px #FFF, 330px 189px #FFF, 970px 851px #FFF, 428px 963px #FFF, 190px 711px #FFF, 1136px 929px #FFF, 1711px 431px #FFF, 1499px 1532px #FFF, 7px 1326px #FFF, 422px 450px #FFF, 1618px 1535px #FFF, 451px 1901px #FFF, 1052px 1381px #FFF, 686px 1331px #FFF, 789px 250px #FFF, 534px 1145px #FFF, 219px 1302px #FFF, 430px 876px #FFF, 1321px 1852px #FFF, 1656px 997px #FFF, 394px 1037px #FFF, 237px 424px #FFF, 1312px 1112px #FFF, 13px 242px #FFF, 112px 373px #FFF, 362px 620px #FFF, 261px 707px #FFF, 958px 1359px #FFF, 1220px 754px #FFF, 1706px 1626px #FFF, 1533px 1140px #FFF, 1945px 1038px #FFF, 509px 1604px #FFF, 315px 1308px #FFF, 800px 1684px #FFF, 83px 1163px #FFF, 266px 159px #FFF, 270px 1889px #FFF, 1050px 691px #FFF, 1739px 626px #FFF, 179px 1307px #FFF, 853px 1753px #FFF, 538px 1508px #FFF, 35px 947px #FFF, 1672px 1912px #FFF, 1725px 837px #FFF, 764px 1453px #FFF, 1254px 913px #FFF, 275px 1290px #FFF, 1823px 372px #FFF, 226px 1614px #FFF, 624px 505px #FFF, 875px 1619px #FFF, 911px 1087px #FFF, 1799px 1852px #FFF, 1015px 187px #FFF, 1102px 77px #FFF, 1834px 1220px #FFF, 1540px 767px #FFF, 423px 1091px #FFF;
 box-shadow:597px 752px #FFF, 1807px 798px #FFF, 1637px 1049px #FFF, 1977px 1354px #FFF, 1532px 148px #FFF, 1275px 1120px #FFF, 64px 1387px #FFF, 1428px 1351px #FFF, 1819px 863px #FFF, 509px 1090px #FFF, 1596px 508px #FFF, 789px 568px #FFF, 404px 1897px #FFF, 576px 476px #FFF, 778px 1305px #FFF, 584px 1831px #FFF, 1929px 1997px #FFF, 119px 1292px #FFF, 217px 1998px #FFF, 1835px 503px #FFF, 821px 1071px #FFF, 1447px 228px #FFF, 533px 1324px #FFF, 1708px 1577px #FFF, 430px 1367px #FFF, 1155px 1955px #FFF, 579px 680px #FFF, 693px 998px #FFF, 353px 1024px #FFF, 62px 275px #FFF, 650px 372px #FFF, 741px 1818px #FFF, 757px 34px #FFF, 221px 425px #FFF, 1169px 1901px #FFF, 531px 486px #FFF, 1028px 1642px #FFF, 322px 1808px #FFF, 1806px 1469px #FFF, 1908px 1340px #FFF, 1593px 1051px #FFF, 255px 402px #FFF, 23px 307px #FFF, 665px 559px #FFF, 1970px 1120px #FFF, 1436px 1251px #FFF, 730px 829px #FFF, 146px 650px #FFF, 1831px 480px #FFF, 1800px 371px #FFF, 766px 550px #FFF, 1726px 1896px #FFF, 161px 1738px #FFF, 700px 379px #FFF, 628px 314px #FFF, 1208px 1713px #FFF, 1437px 566px #FFF, 1887px 1720px #FFF, 1392px 1485px #FFF, 983px 1233px #FFF, 1640px 807px #FFF, 1569px 728px #FFF, 890px 1050px #FFF, 438px 1558px #FFF, 1016px 629px #FFF, 1177px 1329px #FFF, 1069px 194px #FFF, 311px 1727px #FFF, 387px 1669px #FFF, 135px 1163px #FFF, 1440px 1420px #FFF, 1865px 1677px #FFF, 1718px 481px #FFF, 336px 1549px #FFF, 690px 64px #FFF, 1297px 195px #FFF, 210px 1233px #FFF, 1675px 1145px #FFF, 1646px 484px #FFF, 858px 843px #FFF, 1587px 308px #FFF, 796px 572px #FFF, 1344px 1464px #FFF, 965px 884px #FFF, 876px 237px #FFF, 1538px 105px #FFF, 925px 264px #FFF, 1282px 471px #FFF, 1341px 543px #FFF, 1147px 922px #FFF, 515px 256px #FFF, 633px 1226px #FFF, 1721px 959px #FFF, 1371px 173px #FFF, 1851px 628px #FFF, 740px 1045px #FFF, 1728px 207px #FFF, 699px 376px #FFF, 12px 1928px #FFF, 546px 1472px #FFF, 679px 1058px #FFF, 1358px 28px #FFF, 468px 1601px #FFF, 979px 1709px #FFF, 948px 443px #FFF, 1503px 563px #FFF, 1862px 1853px #FFF, 1804px 1386px #FFF, 826px 1452px #FFF, 1844px 886px #FFF, 729px 463px #FFF, 362px 1670px #FFF, 336px 1653px #FFF, 862px 444px #FFF, 314px 1105px #FFF, 1358px 1418px #FFF, 807px 1348px #FFF, 803px 16px #FFF, 1063px 1393px #FFF, 1094px 1594px #FFF, 1613px 938px #FFF, 1677px 650px #FFF, 1196px 1465px #FFF, 199px 413px #FFF, 1174px 1381px #FFF, 510px 774px #FFF, 1245px 597px #FFF, 1797px 1040px #FFF, 767px 1091px #FFF, 1146px 428px #FFF, 295px 45px #FFF, 255px 865px #FFF, 125px 1325px #FFF, 468px 1786px #FFF, 1917px 1952px #FFF, 675px 250px #FFF, 1345px 1789px #FFF, 536px 1598px #FFF, 528px 1066px #FFF, 1688px 12px #FFF, 844px 289px #FFF, 330px 189px #FFF, 970px 851px #FFF, 428px 963px #FFF, 190px 711px #FFF, 1136px 929px #FFF, 1711px 431px #FFF, 1499px 1532px #FFF, 7px 1326px #FFF, 422px 450px #FFF, 1618px 1535px #FFF, 451px 1901px #FFF, 1052px 1381px #FFF, 686px 1331px #FFF, 789px 250px #FFF, 534px 1145px #FFF, 219px 1302px #FFF, 430px 876px #FFF, 1321px 1852px #FFF, 1656px 997px #FFF, 394px 1037px #FFF, 237px 424px #FFF, 1312px 1112px #FFF, 13px 242px #FFF, 112px 373px #FFF, 362px 620px #FFF, 261px 707px #FFF, 958px 1359px #FFF, 1220px 754px #FFF, 1706px 1626px #FFF, 1533px 1140px #FFF, 1945px 1038px #FFF, 509px 1604px #FFF, 315px 1308px #FFF, 800px 1684px #FFF, 83px 1163px #FFF, 266px 159px #FFF, 270px 1889px #FFF, 1050px 691px #FFF, 1739px 626px #FFF, 179px 1307px #FFF, 853px 1753px #FFF, 538px 1508px #FFF, 35px 947px #FFF, 1672px 1912px #FFF, 1725px 837px #FFF, 764px 1453px #FFF, 1254px 913px #FFF, 275px 1290px #FFF, 1823px 372px #FFF, 226px 1614px #FFF, 624px 505px #FFF, 875px 1619px #FFF, 911px 1087px #FFF, 1799px 1852px #FFF, 1015px 187px #FFF, 1102px 77px #FFF, 1834px 1220px #FFF, 1540px 767px #FFF, 423px 1091px #FFF
}
.background .stars.big {
 width:4px;
 height:4px;
 -webkit-box-shadow:162px 1520px #FFF , 1524px 72px #FFF , 1039px 333px #FFF , 1214px 350px #FFF , 1126px 642px #FFF , 1805px 758px #FFF , 286px 912px #FFF , 1533px 1891px #FFF , 1297px 406px #FFF , 435px 737px #FFF , 354px 1500px #FFF , 216px 758px #FFF , 1217px 684px #FFF , 494px 406px #FFF , 1539px 296px #FFF , 1601px 1733px #FFF , 1694px 1642px #FFF , 1880px 581px #FFF , 1671px 763px #FFF , 1262px 1080px #FFF , 1495px 765px #FFF , 1674px 1202px #FFF , 607px 2000px #FFF , 208px 771px #FFF , 1607px 574px #FFF , 1417px 1410px #FFF , 66px 1756px #FFF , 1757px 1865px #FFF , 1859px 1519px #FFF , 600px 507px #FFF , 412px 1857px #FFF , 1741px 880px #FFF , 1283px 847px #FFF , 422px 1059px #FFF , 1101px 1722px #FFF , 420px 1516px #FFF , 1431px 1280px #FFF , 1659px 562px #FFF , 622px 31px #FFF , 90px 962px #FFF , 1788px 805px #FFF , 1663px 81px #FFF , 1146px 519px #FFF , 1237px 723px #FFF , 396px 1615px #FFF , 1701px 497px #FFF , 1877px 474px #FFF , 1727px 360px #FFF , 1352px 348px #FFF , 1592px 1139px #FFF , 1113px 1770px #FFF , 245px 1540px #FFF , 1854px 897px #FFF , 903px 759px #FFF , 786px 1732px #FFF , 1972px 917px #FFF , 321px 1792px #FFF , 360px 1861px #FFF , 995px 542px #FFF , 713px 1254px #FFF , 107px 813px #FFF , 1979px 1108px #FFF , 1008px 1389px #FFF , 1994px 226px #FFF , 1337px 1252px #FFF , 1708px 919px #FFF , 976px 679px #FFF , 471px 1491px #FFF , 54px 1533px #FFF , 1335px 1963px #FFF , 1686px 605px #FFF , 1170px 24px #FFF , 1646px 53px #FFF , 1844px 484px #FFF , 689px 1833px #FFF , 1368px 1169px #FFF , 23px 541px #FFF , 690px 1788px #FFF , 864px 626px #FFF , 740px 135px #FFF , 987px 1385px #FFF , 1160px 211px #FFF , 1416px 1664px #FFF , 1614px 780px #FFF , 334px 1903px #FFF , 617px 1847px #FFF , 1497px 1846px #FFF , 291px 110px #FFF , 173px 376px #FFF , 1480px 1672px #FFF , 248px 1615px #FFF , 317px 1774px #FFF , 1077px 1630px #FFF , 958px 1988px #FFF , 1695px 1653px #FFF , 206px 1701px #FFF , 187px 866px #FFF , 1681px 3px #FFF , 1448px 153px #FFF , 984px 1713px #FFF;
 box-shadow:162px 1520px #FFF , 1524px 72px #FFF , 1039px 333px #FFF , 1214px 350px #FFF , 1126px 642px #FFF , 1805px 758px #FFF , 286px 912px #FFF , 1533px 1891px #FFF , 1297px 406px #FFF , 435px 737px #FFF , 354px 1500px #FFF , 216px 758px #FFF , 1217px 684px #FFF , 494px 406px #FFF , 1539px 296px #FFF , 1601px 1733px #FFF , 1694px 1642px #FFF , 1880px 581px #FFF , 1671px 763px #FFF , 1262px 1080px #FFF , 1495px 765px #FFF , 1674px 1202px #FFF , 607px 2000px #FFF , 208px 771px #FFF , 1607px 574px #FFF , 1417px 1410px #FFF , 66px 1756px #FFF , 1757px 1865px #FFF , 1859px 1519px #FFF , 600px 507px #FFF , 412px 1857px #FFF , 1741px 880px #FFF , 1283px 847px #FFF , 422px 1059px #FFF , 1101px 1722px #FFF , 420px 1516px #FFF , 1431px 1280px #FFF , 1659px 562px #FFF , 622px 31px #FFF , 90px 962px #FFF , 1788px 805px #FFF , 1663px 81px #FFF , 1146px 519px #FFF , 1237px 723px #FFF , 396px 1615px #FFF , 1701px 497px #FFF , 1877px 474px #FFF , 1727px 360px #FFF , 1352px 348px #FFF , 1592px 1139px #FFF , 1113px 1770px #FFF , 245px 1540px #FFF , 1854px 897px #FFF , 903px 759px #FFF , 786px 1732px #FFF , 1972px 917px #FFF , 321px 1792px #FFF , 360px 1861px #FFF , 995px 542px #FFF , 713px 1254px #FFF , 107px 813px #FFF , 1979px 1108px #FFF , 1008px 1389px #FFF , 1994px 226px #FFF , 1337px 1252px #FFF , 1708px 919px #FFF , 976px 679px #FFF , 471px 1491px #FFF , 54px 1533px #FFF , 1335px 1963px #FFF , 1686px 605px #FFF , 1170px 24px #FFF , 1646px 53px #FFF , 1844px 484px #FFF , 689px 1833px #FFF , 1368px 1169px #FFF , 23px 541px #FFF , 690px 1788px #FFF , 864px 626px #FFF , 740px 135px #FFF , 987px 1385px #FFF , 1160px 211px #FFF , 1416px 1664px #FFF , 1614px 780px #FFF , 334px 1903px #FFF , 617px 1847px #FFF , 1497px 1846px #FFF , 291px 110px #FFF , 173px 376px #FFF , 1480px 1672px #FFF , 248px 1615px #FFF , 317px 1774px #FFF , 1077px 1630px #FFF , 958px 1988px #FFF , 1695px 1653px #FFF , 206px 1701px #FFF , 187px 866px #FFF , 1681px 3px #FFF , 1448px 153px #FFF , 984px 1713px #FFF;
 -webkit-animation:starsUp 150s linear infinite;
 animation:starsUp 150s linear infinite
}
.background .stars.big:after {
 width:4px;
 height:4px;
 -webkit-box-shadow:162px 1520px #FFF, 1524px 72px #FFF, 1039px 333px #FFF, 1214px 350px #FFF, 1126px 642px #FFF, 1805px 758px #FFF, 286px 912px #FFF, 1533px 1891px #FFF, 1297px 406px #FFF, 435px 737px #FFF, 354px 1500px #FFF, 216px 758px #FFF, 1217px 684px #FFF, 494px 406px #FFF, 1539px 296px #FFF, 1601px 1733px #FFF, 1694px 1642px #FFF, 1880px 581px #FFF, 1671px 763px #FFF, 1262px 1080px #FFF, 1495px 765px #FFF, 1674px 1202px #FFF, 607px 2000px #FFF, 208px 771px #FFF, 1607px 574px #FFF, 1417px 1410px #FFF, 66px 1756px #FFF, 1757px 1865px #FFF, 1859px 1519px #FFF, 600px 507px #FFF, 412px 1857px #FFF, 1741px 880px #FFF, 1283px 847px #FFF, 422px 1059px #FFF, 1101px 1722px #FFF, 420px 1516px #FFF, 1431px 1280px #FFF, 1659px 562px #FFF, 622px 31px #FFF, 90px 962px #FFF, 1788px 805px #FFF, 1663px 81px #FFF, 1146px 519px #FFF, 1237px 723px #FFF, 396px 1615px #FFF, 1701px 497px #FFF, 1877px 474px #FFF, 1727px 360px #FFF, 1352px 348px #FFF, 1592px 1139px #FFF, 1113px 1770px #FFF, 245px 1540px #FFF, 1854px 897px #FFF, 903px 759px #FFF, 786px 1732px #FFF, 1972px 917px #FFF, 321px 1792px #FFF, 360px 1861px #FFF, 995px 542px #FFF, 713px 1254px #FFF, 107px 813px #FFF, 1979px 1108px #FFF, 1008px 1389px #FFF, 1994px 226px #FFF, 1337px 1252px #FFF, 1708px 919px #FFF, 976px 679px #FFF, 471px 1491px #FFF, 54px 1533px #FFF, 1335px 1963px #FFF, 1686px 605px #FFF, 1170px 24px #FFF, 1646px 53px #FFF, 1844px 484px #FFF, 689px 1833px #FFF, 1368px 1169px #FFF, 23px 541px #FFF, 690px 1788px #FFF, 864px 626px #FFF, 740px 135px #FFF, 987px 1385px #FFF, 1160px 211px #FFF, 1416px 1664px #FFF, 1614px 780px #FFF, 334px 1903px #FFF, 617px 1847px #FFF, 1497px 1846px #FFF, 291px 110px #FFF, 173px 376px #FFF, 1480px 1672px #FFF, 248px 1615px #FFF, 317px 1774px #FFF, 1077px 1630px #FFF, 958px 1988px #FFF, 1695px 1653px #FFF, 206px 1701px #FFF, 187px 866px #FFF, 1681px 3px #FFF, 1448px 153px #FFF, 984px 1713px #FFF;
 box-shadow:162px 1520px #FFF, 1524px 72px #FFF, 1039px 333px #FFF, 1214px 350px #FFF, 1126px 642px #FFF, 1805px 758px #FFF, 286px 912px #FFF, 1533px 1891px #FFF, 1297px 406px #FFF, 435px 737px #FFF, 354px 1500px #FFF, 216px 758px #FFF, 1217px 684px #FFF, 494px 406px #FFF, 1539px 296px #FFF, 1601px 1733px #FFF, 1694px 1642px #FFF, 1880px 581px #FFF, 1671px 763px #FFF, 1262px 1080px #FFF, 1495px 765px #FFF, 1674px 1202px #FFF, 607px 2000px #FFF, 208px 771px #FFF, 1607px 574px #FFF, 1417px 1410px #FFF, 66px 1756px #FFF, 1757px 1865px #FFF, 1859px 1519px #FFF, 600px 507px #FFF, 412px 1857px #FFF, 1741px 880px #FFF, 1283px 847px #FFF, 422px 1059px #FFF, 1101px 1722px #FFF, 420px 1516px #FFF, 1431px 1280px #FFF, 1659px 562px #FFF, 622px 31px #FFF, 90px 962px #FFF, 1788px 805px #FFF, 1663px 81px #FFF, 1146px 519px #FFF, 1237px 723px #FFF, 396px 1615px #FFF, 1701px 497px #FFF, 1877px 474px #FFF, 1727px 360px #FFF, 1352px 348px #FFF, 1592px 1139px #FFF, 1113px 1770px #FFF, 245px 1540px #FFF, 1854px 897px #FFF, 903px 759px #FFF, 786px 1732px #FFF, 1972px 917px #FFF, 321px 1792px #FFF, 360px 1861px #FFF, 995px 542px #FFF, 713px 1254px #FFF, 107px 813px #FFF, 1979px 1108px #FFF, 1008px 1389px #FFF, 1994px 226px #FFF, 1337px 1252px #FFF, 1708px 919px #FFF, 976px 679px #FFF, 471px 1491px #FFF, 54px 1533px #FFF, 1335px 1963px #FFF, 1686px 605px #FFF, 1170px 24px #FFF, 1646px 53px #FFF, 1844px 484px #FFF, 689px 1833px #FFF, 1368px 1169px #FFF, 23px 541px #FFF, 690px 1788px #FFF, 864px 626px #FFF, 740px 135px #FFF, 987px 1385px #FFF, 1160px 211px #FFF, 1416px 1664px #FFF, 1614px 780px #FFF, 334px 1903px #FFF, 617px 1847px #FFF, 1497px 1846px #FFF, 291px 110px #FFF, 173px 376px #FFF, 1480px 1672px #FFF, 248px 1615px #FFF, 317px 1774px #FFF, 1077px 1630px #FFF, 958px 1988px #FFF, 1695px 1653px #FFF, 206px 1701px #FFF, 187px 866px #FFF, 1681px 3px #FFF, 1448px 153px #FFF, 984px 1713px #FFF
}
@-webkit-keyframes starsUp {
 from {
  -webkit-transform:translateY(-250px);
  transform:translateY(-250px)
 }
 to {
  -webkit-transform:translateY(-2000px);
  transform:translateY(-2000px)
 }
}
@keyframes starsUp {
 from {
  -webkit-transform:translateY(-250px);
  transform:translateY(-250px)
 }
 to {
  -webkit-transform:translateY(-2000px);
  transform:translateY(-2000px)
 }
}
ul.form li {
  display: block;
  list-style-type: none;
}
