
{% extends "blender_fund/empty_page.html" %}
{% block head %}
<style>
  .notes {
      margin-top: 4em;
      width: 30em;
      color: #666;
      font-size: smaller;
  }
  pre {
    text-align: left;
    background: none;
  }

</style>
{% endblock %}
{% block content %}
<div class="checkout-yay-bg py-5 checkout-container">
  <div class="container">
    <h1 class="thanks">Thank you {{ user.customer.full_name }}! <i class="fa fa-heart text-danger pl-3"></i></h1>
    <div class="lead pt-4">You are now a <strong>{{ order.subscription.plan }}</strong> member of the Krita Development Fund</div>
    <p>
      Your membership will be activated as soon as we have handled your bank transfer.
    </p>
    <div class="mention">
      <p>
        When paying, mention the following with your bank transfer:
      </p>
      <p><strong>Krita Fund Membership subs-{{ order.subscription.id }}</strong></p>
    </div>
    <p>Please send your payment to:</p>
    <p>
      <pre>Stichting Krita Foundation
Korte Assenstraat 11 7411JP
Deventer, the Netherlands.

Bank Account
IBAN: NL72INGB0007216397
BIC: INGBNL2A
      </pre>
    </p>
    <h2>Tax Information</h2>
    <p>The Stichting Krita Foundation is a Dutch non-profit but not a charity (ANBI). Gifts are not tax-deductable.</p>
    <p>This information is also sent to you by email.</p>
    {% with membership=order.subscription.membership %}
      <p>Continue to <a href="{% url 'settings_membership_edit' membership_id=membership.id %}">Your Membership</a>.</p>
      {% if membership.level.bid_badge_name %}
        <div class="notes">
          <p>Once your membership is activated, you can view your badge in your <a href="{{ settings.BLENDER_ID.BASE_URL }}">MyKDE Profile</a>.
            For your badge to show up on other websites may take some time (less than a day), and may require you to log in at that site again.
          </p>
        </div>
      {% endif %}
    {% endwith %}
  </div>
</div>
{% endblock %}
