
{% extends "blender_fund/layout.html" %}
{% block page_header %}
<div class="featured nav-hidden">
  <div class="container">
    <div class="featured-content">
      <h1>Development Fund - {% block header_title %}{% endblock %}</h1>
    </div>
  </div>
  <div class="featured-overlay" style="background-image: none; background-color: #0a0a0a;opacity: 0.3;"></div>
</div>{% block nav_secondary %}
{% include "blender_fund/_navbar_secondary.html" %}
{% endblock nav_secondary %}
{% block navbar_tertiary %}{% endblock navbar_tertiary %}
{% endblock page_header %}
{% block content %}
<div class="container py-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="box flatpage p-5">
        <h2 class="mt-0">{% block box_title %}{% endblock %}</h2>{% block box_content %}{% endblock %}
      </div>
    </div>
  </div>
</div>{% endblock content %}