$height-width-factor: 1.3
$m-logo-max-width-base: 400px
$m-logo-max-height: $m-logo-max-width-base / $height-width-factor

$m-logo-patron-height: 200px
$m-logo-patron-width: 300px

$m-logo-gold-width: $m-logo-max-width-base / 1.5
$m-logo-gold-height: $m-logo-gold-width / $height-width-factor

$m-logo-silver-width: $m-logo-max-width-base / 2
$m-logo-silver-height: $m-logo-silver-width / $height-width-factor

$m-logo-bronze-width: $m-logo-max-width-base / 2.5
$m-logo-bronze-height: $m-logo-bronze-width / $height-width-factor


=level-label
	background-color: hsl(165, 76%, 46%)
	border-radius: var(--border-radius)
	color: white
	content: 'POPULAR'
	font-size: var(--font-size-extra-small)
	+font-weight-bold
	padding: 3px 10px 2px
	position: absolute
	left: -5px
	top: -5px

.memberships
	+margin(5, top)

.membership
	&-level
		margin: 30px auto
		text-align: center

		.section-title
			padding-bottom: 25px

			&:hover
				text-decoration: none

		> ul
			@extend .d-flex
			@extend .justify-content-center
			+list-unstyled
			flex-wrap: wrap

			li
				@extend .align-items-center
				@extend .d-flex
				padding: ($spacer / 3) $spacer
				white-space: nowrap

				&:after
					display: none

			a
				@extend .p-2
				text-decoration: underline
				white-space: normal

				img
					transition: transform ease-in-out 100ms
					&:hover
						transform: scale(1.05)

			img
				max-width: 100%

				+media-xs
					margin-bottom: 20px

		// Name small
		.gold
			span.name
				max-width: 300px
				overflow: hidden
				text-overflow: ellipsis

		.platinum,
		.titanium,
		.diamond
			font-size: var(--font-size-membership-top)

		.diamond
			font-weight: bold

			a
				color: $primary

		.corporate-bronze
			font-size: var(--font-size-membership-corp-bronze)

			img
				max-height: $m-logo-bronze-height

				@include media-breakpoint-up(lg)
					max-width: $m-logo-bronze-width

		.corporate-silver
			font-size: var(--font-size-membership-corp-silver)

			img
				max-height: $m-logo-silver-height

				@include media-breakpoint-up(lg)
					max-width: $m-logo-silver-width

		.corporate-gold
			font-size: var(--font-size-membership-corp-gold)

			img
				max-height: $m-logo-gold-height

				@include media-breakpoint-up(lg)
					max-width: $m-logo-gold-width

		.patron
			img
				max-height: $m-logo-patron-height

				@include media-breakpoint-up(lg)
					max-width: $m-logo-patron-width

.levels
	color: white
	padding-bottom: 50px
	position: relative
	text-align: center
	overflow: hidden

	*
		position: relative
		z-index: 1

	&-notes // levels-notes
		color: rgba(white, .8)

.levels-background
	background-image: linear-gradient(349deg, hsl(216deg, 86%, 46%), hsl(274deg, 100%, 50%))
	position: absolute !important
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 0 !important

.bf-badge
	display: block
	max-width: 48px

.credits
	@extend .separator-slanted
	background-color: var(--background-color)
	overflow: initial
	position: relative

	&:after
		border-top-color: transparent !important
		border-right-color: var(--background-color) !important
		bottom: initial
		top: -50px

.l-table
	box-shadow: 0 5px 80px hsl(249deg, 79%, 50%), 0 15px 40px hsl(249deg, 79%, 32%)
	+border-radius(lg)
	color: hsl(239deg, 25%, 83%)
	display: flex
	flex-direction: column
	+list-unstyled
	+margin(4, top)
	+margin(auto, x)
	max-width: 840px

	li:last-child a
		border: none

.l-table-row,
.l-table-header
	+list-unstyled
	box-shadow: inset 0 0 1px rgba(black, .33)
	display: flex
	transition: background-color var(--transition-speed) ease-in-out

	&:hover
		text-decoration: none

	&.is-own,
	&.is-selected,
	&.is-corporate
		box-shadow: none

	&.is-own
		background-color: hsl(165, 76%, 65%)
		background-image: linear-gradient(13deg, hsl(165, 86%, 45%), hsl(165, 76%, 75%))
		color: white

		.m-price
			color: white

		svg
			fill: white

		&:after
			+level-label
			background-color: white
			color: hsl(165, 76%, 45%)
			content: 'YOU HAVE THIS'

	&.is-selected
		background-color: white
		box-shadow: 0 0 25px rgba(black, .2)
		border-radius: calc(var(--border-radius) * 2)
		transform: scale(1.02)
		z-index: 1

		.detail-badge
			opacity: 1

	// Level highlighted by default.
	&.is-popular
		background-color: hsl(249deg, 89%, 60%)
		border-radius: var(--border-radius)
		box-shadow: 0 10px 30px hsl(249deg, 79%, 50%)
		transform: scale(1.026)

		&:hover
			background-color: hsl(249deg, 68%, 64%)

		&:after
			+level-label

	&.is-corporate
		background-color: hsl(239deg, 45%, 23%)
		border-bottom-left-radius: var(--border-radius-lg)
		border-bottom-right-radius: var(--border-radius-lg)
		color: hsl(239deg, 32%, 69%)

		&:hover
			background-color: hsl(239deg, 40%, 28%)

.l-table-header
	background-color: hsla(0,0,0,.15)
	border-top-left-radius: var(--border-radius-lg)
	border-top-right-radius: var(--border-radius-lg)
	font-size: var(--font-size-small)

	.l-table-cell:first-child
		justify-content: start

.l-table-row
	&:hover
		background-color: hsla(0,0%,100%,.05)

.l-table-cell
	align-items: center
	display: flex
	flex: 1
	justify-content: center
	padding: ($spacer / 2) $spacer / 2
	user-select: none
	white-space: nowrap

	@include media-breakpoint-up(lg)
		padding: $spacer $spacer * 2

	&.m-level
		align-items: start
		flex-direction: column
		text-align: left
		min-width: 125px

		@include media-breakpoint-up(lg)
			min-width: 150px

	&[data-toggle="popover"]
		cursor: pointer

	i
		+padding(2, left)

	> span
		align-items: center
		display: flex

		.l-name
			display: none

			@include media-breakpoint-up(lg)
				display: block

.m-name
	color: white
	font-size: var(--font-size-large)
	+font-weight-bold

.m-price
	color: hsl(239deg, 45%, 83%)

.checkmark
	svg
		fill: white
