
{% extends "settings/base.html" %}
{% block content_settings %}
{% load crispy_forms_tags %}
{{ block.super }}
<h2 class="h4">Billing Address</h2>
<form class="p-3" id="billing-address-form" method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <hr/>
  <button class="btn btn-success px-5 mt-3" id="submit-billing-info" type="submit"><i class="fa fa-check"></i>Save Changes</button>
</form>{% endblock content_settings %}
