
{% extends "settings/base.html" %}
{% block content_settings %}
{{ block.super }}
<h2 class="h4">Change Payment Method</h2>
<p>Your <strong>{{ subscription.plan.name }} {{ subscription.plan.product.name }}</strong> is currently using
  <strong>{{ current_payment_method.recognisable_name }}</strong> as payment method.
  
  Feel free to change it below.
  
</p>
<div class="m-3">
  <form class="form" id="payment-method-change-form" method="post">{% csrf_token %}
    <section class="checkout-form-fields pt-4">
      {% load crispy_forms_tags %}
      {{ form | crispy }}
      <div id="gateway-errors"></div>
    </section>
    <hr/>
    <div class="d-flex align-items-center pt-3">
      <a class="p-3" href="{% url 'settings_home' %}">Cancel</a>
      <button style="margin-left: auto;" class="ml-auto btn-success form-submit px-5" id="change_payment_method_button" type="submit"><i class="fa fa-check"></i>Switch Payment method</button>
    </div>
  </form>
</div>{% endblock content_settings %}
{% block footer_scripts%}{{ block.super }}
{% include "looper/scripts.html" %}
{% endblock footer_scripts%}
