
{% extends "settings/base.html" %}
{% block content_settings %}
{% load crispy_forms_tags %}
<h2 class="h4">Personal Information</h2>
<form id="customer-form" method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <hr />
  <button class="btn btn-success px-5 mt-3" id="submit-customer" type="submit"><i class="fa fa-check"></i>Save Changes</button>
</form>{% endblock content_settings %}
