
{% extends "blender_fund/layout_simple_box.html" %}
{% load wagtailcore_tags %}
{% load wagtailuserbar %}
{% block header_title %}Login loop detected{% endblock %}
{% block box_title %}Login loop detected{% endblock %}
{% block box_content %}
<p>
  We detected a runaway login loop, which means that there was an issue communicating with
  MyKDE. Please return to the <a href="/">front page</a> and try again.
</p>
<p>
  If this problem persists, please contact
  <a href="mailto:{{ settings.ADMIN_MAIL }}">{{ settings.ADMIN_MAIL }}</a>.
</p>{% endblock %}
