<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ subject }}{% endblock %}</title>
    <style>
      html, body {
      	background-color: white;
      	color: black;
      	font-family: 'Roboto', 'Noto Sans', sans-serif;
      	font-size: 10pt;
      }
      
      body {
      	max-width: 100%;
      	width: 60ex;
      	margin-right: auto;
      	padding: 0.5em 1em;
      }
      
      p {
      	line-height: 150%;
      }
      p.closing {
      	margin-top: 3.5em;
      }
      
      section.about {
      	margin-top: 2em;
      	color: #888;
      }
    </style>
  </head>
  <body>{% block body %}{% endblock %}
    <p class="closing">Kind regards,</p>
    <p>Blender Foundation</p>
  </body>
</html>