
{% extends "blender_fund/empty_page.html" %}
{% load looper %}
{% block content %}
<div class="checkout-container">
  <section class="checkout">
    <header>
      <div class="d-flex justify-content-between"><a class="text-muted" href="/"><i class="i-chevron-left pr-3"></i> Blender Development Fund</a><a title="Change plan" href="{% url 'looper:checkout_choose_plan_variation' plan_id=plan.id current_plan_variation_id=plan_variation.id %}">Plan variations available</a></div>
      <section class="plan-info d-flex align-items-center">
        <h2 class="my-0 pt-4">{{ plan.description }}</h2>
        <h2 class="ml-auto my-0 pt-4"><a title="Change plan" href="{% url 'looper:checkout_choose_plan_variation' plan_id=plan.id current_plan_variation_id=plan_variation.id %}"><span>{{ plan_variation|pricing }}</span></a></h2>
      </section>
    </header>
    <hr/>{% block after_header %}{% endblock %}
  </section>
</div>{% endblock %}
