{% extends "blender_fund/layout.html" %}
{% block page_header %}
  {% block navbar_tertiary %}{% endblock navbar_tertiary %}
{% endblock page_header %}

{% block content %}
  <div class="container">
    <h2 class="mt-0">{% block box_title %}{% endblock %}</h2>
    {% block box_content %}{% endblock %}
  </div>
{% endblock content %}
