<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="KDE is an open community of friendly people who want to create a world in which everyone has control over their digital life and enjoys freedom and privacy.">
  <meta name="author" content="">
  <title>KDE Fund - fund.KDE.org</title>

  <!-- Facebook open graph configuration -->
  <meta property="og:title" content="KDE Fund">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://fund.kde.org/">
  <meta property="og:description" content="KDE is an open community of friendly people who want to create a world in which everyone has control over their digital life and enjoys freedom and privacy.">
  <meta property="og:site_name" content="KDE.org">
  <meta property="og:image" content="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-rounded-128x128.png">

  <!-- Twitter card configuration -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kdecommunity">
  <meta name="twitter:title" content="KDE Community Home">
  <meta name="twitter:description" content="KDE is an open community of friendly people who want to create a world in which everyone has control over their digital life and enjoys freedom and privacy.">
  <meta name="twitter:image" content="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-rounded-128x128.png">

  <!-- schema.org metadata -->
  <script type="text/javascript" async="" defer="" src="https://stats.kde.org/matomo.js"></script><script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://fund.kde.org/",
    "name": "KDE.org",
    "description": "KDE is an open community of friendly people who want to create a world in which everyone has control over their digital life and enjoys freedom and privacy."
  }
  </script>

  <!-- Icons -->
  <link rel="apple-touch-icon" href="/aether/media/180x180.png">
  <link rel="shortcut icon" href="/aether/media/192x192.png">

  <!-- CDN CSS -->
  <link href="https://cdn.kde.org/aether-devel/version/bootstrap.42906a1a.css" rel="stylesheet">
  {% load static %}
  <link href="{% static 'css/kde-main.css' %}?rrere" rel="stylesheet"></script>
  {% block head %}
  {% endblock %}
</head>
<body class="page-devfund {{ page_id }}">
  {% block body %}
    {% block navigation_header %}
      {% include "_navbar.html" %}
    {% endblock navigation_header %}
    {% block nav_secondary %}
      {% include "blender_fund/_navbar_secondary.html" %}
    {% endblock nav_secondary %}
    <main>
      <div class="notice-wrapper container">
        {% if messages %}
          {% for message in messages %}
            <div class="show notice error notice-error"><span class="notice-message">{{ message }}</span></div>
          {% endfor %}
        {% endif %}
      </div>
      {% block page_header %}
      {% block navbar_tertiary %}{% endblock navbar_tertiary %}
      {% endblock page_header %}

      {% block content %}{% endblock content %}
    </main>
  {% endblock body %}
  {% block footer %}
  {% include "_footer.html" %}
  {% endblock footer %}
  <!-- CDN JS -->
  <script src="https://cdn.kde.org/aether-devel/version/braintree.e2caa657.js"></script>
  {% block footer_scripts %}{% endblock footer_scripts %}
</body>
